.ConvoHistory {
  height: 100%;
  overflow: auto;
}

.ConvoHistory__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 16px;
}

.ConvoHistory__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ConvoHistory__topFiller {
  flex: 1;
}

.ConvoHistory__spinner {
  margin: 16px auto;
}
