.ConvoHistory {
  height: 100%;
  overflow: auto;
}

.ConvoHistory__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 16px;
}

.ConvoHistory__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ConvoHistory__topFiller {
  flex: 1;
}

.ConvoHistory__spinner {
  margin: 16px auto;
}

/* ====== */

.MessagesStack {
  display: flex;
  align-items: flex-end;
  padding: 4px;
}

.MessagesStack--out {
  justify-content: flex-end;
}

.MessagesStack__avatar {
  position: sticky;
  bottom: 2px;
  margin-right: 8px;
}

.MessagesStack__messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-width: 0;
}

.MessagesStack--out .MessagesStack__messages {
  align-items: flex-end;
}
