.AttachPhotos {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  gap: 3px;
}

.AttachPhotos__row {
  display: flex;
  min-height: 0;
  gap: 3px;
}

.AttachPhotos__row:first-child .AttachPhotos__photo:first-child {
  border-top-left-radius: 8px;
}

.AttachPhotos__row:first-child .AttachPhotos__photo:last-child {
  border-top-right-radius: 8px;
}

.AttachPhotos__row:last-child .AttachPhotos__photo:first-child {
  border-bottom-left-radius: 8px;
}

.AttachPhotos__row:last-child .AttachPhotos__photo:last-child {
  border-bottom-right-radius: 8px;
}

.AttachPhotos__photo {
  min-width: 50px;
  min-height: 50px;
  max-height: 500px;
  border-radius: 2px;
  overflow: hidden;
  flex: auto;
  background: var(--vkui--color_background_secondary_alpha);
  cursor: pointer;
}
