.AttachPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
  border-radius: 8px;
  overflow: hidden;
}

.AttachPhotos__row {
  display: flex;
  gap: 3px;
}

.AttachPhoto {
  flex-grow: 1;
  object-fit: contain;
  min-height: 50px;
  border-radius: 2px;
  cursor: pointer;
  background: var(--vkui--color_background_secondary_alpha);
}
