.message_attachments { display: inline }

.message_attach_loading .typing_item {
  width: 7px;
  height: 7px;
}

.message_text_wrap.hasText .message_attach:first-child {
  margin-top: 4px;
}

.message_attachments .message_attach:not(:first-child) {
  margin-top: 5px;
}

/* Default */

.attach_default {
  display: flex;
  margin-right: 20px;
}

.attach_default .message_attach_img {
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.attach_default .message_attach_title { font-weight: 500 }

/* Photo */

.attach_photo {
  text-align: center;
  cursor: pointer;
}

.message.service .attach_photo {
  text-align: center;
  margin-top: 8px;
}

.message.service .attach_photo img {
  border-radius: 50%;
  height: 100px;
  min-width: initial;
  width: 100px;
  background-color: #000;
  object-fit: contain;
}

.attach_photo img {
  min-width: 100%;
  max-width: 100%;
  min-height: 30px;
  max-height: 450px;
  border-radius: 10px;
  object-fit: cover;
}

.message_text_wrap.onlyPhotos:not(.hasText):not(.morePhotos),
.message_text_wrap.onlySticker {
  padding: 0;
  background-color: inherit !important;
}

.message_text_wrap.onlyPhotos.hasText,
.message_text_wrap.onlyPhotos.morePhotos,
.message_text_wrap.flyMsgTime:not(.onlySticker) {
  padding: 6px 6px 2px 6px;
}

.message_text_wrap.onlyPhotos.hasText .message_time_wrap,
.message_text_wrap.onlyPhotos.morePhotos .message_time_wrap,
.message_text_wrap.flyMsgTime:not(.onlySticker)  .message_time_wrap {
  bottom: 12px;
  right: 12px;
}

/* Sticker */

.attach_sticker {
  height: 128px;
  min-width: 64px;
}

/* Replied msg */

.attach_reply_msg {
  display: flex;
  position: relative;
  height: 40px;
  cursor: pointer;
}

.attach_reply_msg::before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  width: 2px;
  border-radius: 1px;
  background-color: #a3bbd6;
  transition: background-color .2s;
}

.attach_reply_msg:hover::before {
  background-color: #88a3c1;
}

.attach_reply_msg_photo {
  flex: none;
  width: 34px;
  height: 34px;
  margin: 4px -4px 0 7px;
  border-radius: 4px;
  object-fit: cover;
}

.attach_reply_msg_content,
.attach_reply_msg_name,
.attach_reply_msg_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.attach_reply_msg_content {
  margin-left: 10px;
}

.attach_reply_msg_name {
  color: #254f79;
  font-weight: 500;
  margin-top: 1px;
}

.attach_reply_msg_text { margin-top: -1px }

.attach_reply_msg_text.isAttach {
  color: #254f79;
}

/* link */

/* -type0 -type1 -type2 */

.attach_link {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 20, 51, .12);
}

.attach_link.-type1 {
  height: 64px;
  display: flex;
}

.attach_link_img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.attach_link.-type1 .attach_link_img {
  border-right: 1px solid rgba(0, 20, 51, .12);
  border-radius: 4px 0 0 4px;
}

.attach_link.-type2 .attach_link_img {
  border-bottom: 1px solid rgba(0, 20, 51, .12);
  border-radius: 4px 4px 0 0;
}

.attach_link_content {
  padding: 10px;
}

.attach_link.-type2 .attach_link_content {
  padding: 15px;
}

.attach_link_title {
  /* color: #2d5d8c;
  font-weight: 500; */
  font-size: 15px;
  margin-bottom: 2px;
}

.attach_link.-type2 .attach_link_title {
  font-size: 17px;
}

.attach_link_url {
  color: #939393;
  font-size: 14px;
}
