.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth_wrap { text-align: center }
.auth_wrap input { margin-bottom: 6px }
.auth_password_wrap { position: relative }

.auth_password_switch {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .8;
  width: 34px;
  height: 34px;
  background: url('../images/show.svg') 50% no-repeat;
  transition: opacity .3s;
}

.auth_password_switch:hover { opacity: 1 }
.auth_password_switch.hidden {
  background-image: url('../images/hide.svg');
}

.auth_logo {
  width: 125px;
  height: 125px;
}

.auth_name {
  font-size: 20px;
  margin: 15px 0 30px 0;
}

.auth_error {
  padding: 7px 0;
  margin-bottom: 6px;
  color: #de3f3f;
  border: 1px solid #de3f3f;
  border-radius: 5px;
}

.auth_button { width: 250px }

.auth_code_header {
  font-size: 24px;
  margin-bottom: 5px;
}

.auth_code_descr {
  font-size: 14px;
  margin-bottom: 20px;
  width: 300px;
}

.auth_code_buttons button { width: 123px }
