.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_wrap input {
  margin-bottom: 6px;
}

.auth_logo {
  width: 125px;
  height: 125px;
}

.auth_name {
  font-size: 20px;
  margin: 15px 0 30px 0;
}

.auth_error {
  width: 250px;
  padding: 8px 0;
  margin-bottom: 6px;
  text-align: center;
  border: 1px solid #f2ab99;
  border-radius: 5px;
  background-color: #ffefe9;
}

.auth_code_section .auth_error {
  margin: 5px 0 -8px 0;
}

.auth_button {
  width: 250px;
}

.auth_code_header {
  font-size: 24px;
  margin-bottom: 5px;
}

.auth_code_descr {
  font-size: 14px;
  margin-bottom: 25px;
}

.auth_code_section button {
  width: 125px;
  margin-top: 20px;
}
