.menu_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

.menu_wrap { transition: background-color .15s, visibility .15s }
.menu_wrap.active .menu { transform: translateZ(0) }

.menu_wrap.active {
  background-color: rgba(0, 0, 0, .5);
  visibility: visible;
}

.menu {
  position: absolute;
  transform: translate(-100%);
  width: 250px;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  background-color: white;
  box-shadow: 4px 0 6px rgba(0, 0, 0, .2);
}

.menu { transition: transform .35s }

/* панелька профиля */

.menu_account_item {
  position: relative;
  overflow: hidden;
  height: 125px;
  padding: 8px 10px 10px 12px;
  background-color: rgba(38, 37, 37, .5);
}

.menu_account_bgc {
  width: 260px;
  height: 135px;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -1;
  object-fit: cover;
  filter: blur(3px);
}

.menu_multiacc {
  width: 24px;
  height: 22px;
  position: absolute;
  right: 10px;
  background-color: white;
  -webkit-mask-size: cover;
  -webkit-mask-image: url('../images/menu_groups.png');
  cursor: pointer;
}

.acc_icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-size: 100%;
  cursor: pointer;
}

.menu_acc_name, .menu_acc_status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.menu_acc_name {
  margin-top: 12px;
  color: #fff;
}

.menu_acc_status {
  font-size: 13px;
  color: #d9d9d9;
}

/* остальные кнопки меню */

.menu_items {
  padding: 8px;
  overflow-y: auto;
  height: calc(100% - 125px);
}

.menu_item {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  border-radius: 5px;
}

.menu_item, .menu_item_icon, .menu_item_name {
  transition: background-color .3s, color .3s;
}

.menu_item:hover { background-color: #eaeff6 }
.menu_item.active:not(.menu_account_item) { background-color: #eaeff6 }
.menu_item.active .menu_item_icon { background-color: #5181b8 }
.menu_item.active .menu_item_name { color: #3e70a9 }

.menu_item_name { flex-grow: 1 }

.menu_item_counter:not(:empty) {
  color: #4d5f75;
  background-color: #cad9e6;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
}

.menu_item_icon {
  width: 24px;
  height: 22px;
  margin: 0 10px;
  background-color: #a6a6a6;
  -webkit-mask-size: cover;
  transition: background-color .3s;
}

.menu_item_icon.news { -webkit-mask-image: url('../images/menu_news.png') }
.menu_item_icon.notifications { -webkit-mask-image: url('../images/menu_notifications.png') }
.menu_item_icon.messages { -webkit-mask-image: url('../images/menu_messages.png') }
.menu_item_icon.audios { -webkit-mask-image: url('../images/menu_audios.png') }
.menu_item_icon.friends { -webkit-mask-image: url('../images/menu_friends.png') }
.menu_item_icon.groups { -webkit-mask-image: url('../images/menu_groups.png') }
.menu_item_icon.photos { -webkit-mask-image: url('../images/menu_photos.png') }
.menu_item_icon.videos { -webkit-mask-image: url('../images/menu_videos.png') }
.menu_item_icon.settings { -webkit-mask-image: url('../images/menu_settings.png') }

/* Кнопка выхода из аккаунта */

.menu_item.logout {
  position: relative;
  margin-top: 20px;
}

.menu_item.logout::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  pointer-events: none;
}

.menu_item.logout .menu_item_name {
  margin-left: 15px;
  font-size: 16px;
  color: #de3f3f;
  margin-top: -2px;
}
