/* Шапка */

.dialog_header_back {
  display: none;
  flex: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.dialog_name_wrap {
  display: flex;
  justify-content: center;
  height: 16px;
}

.dialog_name_wrap .verified {
  flex: none;
  margin: 1px 0 1px 3px;
}

.dialog_name_wrap .messages_muted {
  background-image: url('../images/muted_white.svg');
}

.dialog_name {
  color: #fff;
  line-height: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog_online {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog_actions_btn {
  flex: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.dialog_header_back:hover, .dialog_actions_btn:hover {
  opacity: 1;
}

/* Диалог */

.dialog_container { height: 100% }

.dialog_choice_chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -65px;
  color: #38383a;
  font-size: 16px;
}

.dialog_choice_chat img { margin-bottom: 15px }

.dialog_wrap {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

.dialog_messages_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
}

.dialog_empty_block { flex-grow: 1 }

.dialog_no_messages {
  align-items: center;
  justify-content: center;
  color: #38383a;
}

.dialog_no_messages img { height: 128px }

.dialog_wrap .typing_wrap {
  height: 40px;
  padding: 10px 20px;
  color: #254f79;
  flex: none;
}

.dialog_wrap .typing_text { margin-left: 5px }

/* Поле для написания сообщения */

.dialog_input_wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: none;
  border-top: 1px solid #e7e8ec;
  background-color: #fafbfc;
}

.dialog_to_end {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: -70px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: solid 1px #cfd9e1;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  opacity: 1;
  cursor: pointer;
  transition: background-color .3s, transform .3s, opacity .3s;
}

.dialog_to_end:hover { background-color: #f6f8fb }

.dialog_to_end.hidden {
  transform: translateY(70px);
  opacity: 0;
}

.dialog_to_end_count:not(:empty) {
  position: absolute;
  top: -5px;
  right: -4px;
  background-color: #5281b9;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  padding: 1px 5px;
}

.dialog_to_end_icon {
  width: 25px;
  height: 25px;
}

.dialog_input_container {
  position: relative;
  width: calc(100% - 108px);
  margin: 6px 0;
  background-color: #fff;
  border: 1px solid #d3d9de;
  border-radius: 10px;
}

.dialog_input {
  min-height: 18px;
  max-height: 180px;
  line-height: 18px;
  padding: 10px;
  overflow-x: auto;
}

.dialog_input:not(:empty) + .dialog_input_placeholder {
  display: none;
}

.dialog_input_placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #828282;
  line-height: 18px;
  user-select: none;
  pointer-events: none;
}

.dialog_show_attachments_btn, .dialog_send {
  padding: 14px 15px;
  opacity: .7;
  cursor: pointer;
  transition: opacity .3s;
}

.dialog_show_attachments_btn:hover, .dialog_send:hover {
  opacity: 1;
}

.dialog_input_error {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.dialog_input_error_img,
.dialog_input_error_text {
  margin: 0 20px;
}

.dialog_input_error_text.channel { margin: 0 auto }

.dialog_input_channel {
  color: #254f79;
  padding: 5px 10px;
  background-color: #e1e7ec;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .3s;
}

.dialog_input_channel:hover { background-color: #d6dee4 }
.dialog_input_channel:active { background-color: #ccd4da }

/* Сообщение */

.message {
  display: flex;
  flex: none;
  margin: 5px 20px 0;
}

.message_wrap:first-child {
  margin-top: auto;
  padding-top: 25px;
}

.message.first_msg_block { margin: 15px 20px 0 }
.message.from_me { justify-content: flex-end }

.message.service {
  justify-content: center;
}

.message_photo {
  flex: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.message_empty_photo {
  flex: none;
  width: 46px;
}

.message_content {
  max-width: calc(100% - 65px);
}

.message_name {
  color: #254f79;
  font-weight: 500;
  margin-bottom: 6px;
}

.message_text_wrap {
  position: relative;
  display: inline-block;
  background-color: #dfe6ea;
  padding: 7px 10px;
  border-radius: 18px;
}

.message.from_me .message_text_wrap {
  background-color: #cce4fe;
}

.message.service .message_text_wrap {
  background-color: inherit;
}

.message_text_wrap.outread::before,
.message_text_wrap.outread::after {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 12px;
  border-radius: 50%;
  background-color: #93adc8;
}

.message:not(.service).from_me .message_text_wrap.outread::before {
  content: '';
  left: -20px;
}

.message:not(.service):not(.from_me) .message_text_wrap.outread::after {
  content: '';
  right: -20px;
}

.message_text_wrap.outread::after {

}

.message:not(.service) .message_text {
  display: inline;
  word-break: break-word;
}

.message.service .message_text, .message_top_date {
  text-align: center;
  color: #4e4f50;
  word-break: break-word;
}

.message_time_wrap {
  display: flex;
  float: right;
  color: #696969;
  font-weight: 500;
  font-size: 11px;
  margin: 6px 0 0 8px;
  user-select: none;
  pointer-events: none;
}

.message.service .message_time_wrap { display: none }

.message_time_wrap.fly {
  position: absolute;
  bottom: 5px;
  right: 7px;
  background-color: #0000007d;
  color: #f5f5f5;
  border-radius: 10px;
  padding: 2px 5px;
}

.message_time_wrap .dot {
  width: 2px;
  height: 2px;
  margin: 7px 3px 0 3px;
  border-radius: 50%;
  background-color: #696969;
}

.message_time_wrap.fly .dot { background-color: #f5f5f5 }
.message_edited { margin-top: -1px }
.message_attachments { display: inline }

.message_attachments.hasText .message_attach:first-child {
  margin-top: 5px;
}

.message_attach {
  display: flex;
  margin-right: 40px;
}

.message_attachments .message_attach:not(:first-child) {
  margin-top: 10px;
}

.message_attach_img {
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.message_attach_title { font-weight: 500 }
.message_top_date { margin: 15px 0 }

.message_unreaded_messages {
  position: relative;
  text-align: center;
  font-size: 13px;
  color: #636363;
}

.message_unreaded_messages span {
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 10px;
}

.message_unreaded_messages::before,
.message_unreaded_messages::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  background: #d4d6da;
  top: 50%;
}

.message_unreaded_messages::before { left: 0 }
