/* Шапка */

.dialog_container .header {
  position: relative;
  z-index: 1;
}

.dialog_header_back {
  display: none;
  flex: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.dialog_header_photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.dialog_header_center {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog_name_wrap {
  display: flex;
  justify-content: center;
  height: 16px;
}

.dialog_name_wrap .verified {
  flex: none;
  margin-left: 3px;
}

.dialog_name_wrap .messages_muted {
  opacity: 0.7;
  background-image: url('../images/muted_white.svg');
}

.dialog_name {
  color: #fff;
  line-height: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog_online {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog_actions_btn {
  flex: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.dialog_header_back:hover, .dialog_actions_btn:hover {
  opacity: 1;
}

.dialog_messages_time_wrap {
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

.dialog_messages_time_wrap.active { opacity: 1 }

.dialog_messages_time {
  display: inline-block;
  background-color: #fff;
  border: solid 1px #cfd9e1;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  padding: 2px 15px 4px 15px;
  color: #828282;
  user-select: none;
}

/* Блок с настройками беседы (через 3 точки) */

.messages_settings_box {
  position: absolute;
  top: 30px;
  right: 5px;
  width: 270px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transform: translate(0, 0);
  box-shadow: rgba(0, 0, 0, .15) 0px 0px 3px 0px;
  border: 1px solid #d6dae0;
  border-radius: 10px;
  padding: 7px 0;
  transition: visibility .3s, opacity .3s, transform .3s;
}

.messages_settings_box.active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 10px);
}

.messages_settings_box_item {
  cursor: pointer;
  padding: 8px;
  user-select: none;
  transition: background-color .3s;
}

.messages_settings_box_item:hover {
  background-color: #eaeff6;
}

.messages_settings_box_item_icon {
  height: 24px;
  vertical-align: middle;
  margin: -4px 6px 0 2px;
}

/* Диалог */

.dialog_container { height: 100% }

.dialog_choice_chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -65px;
  color: #38383a;
  font-size: 16px;
}

.dialog_choice_chat img {
  margin-bottom: 15px;
  width: 128px;
  height: 128px;
}

.dialog_wrap {
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
}

.dialog_messages_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
}

.dialog_empty_block { flex-grow: 1 }

.dialog_messages_list.empty {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #38383a;
  font-size: 16px;
}

.dialog_messages_list.empty img { height: 160px }
.dialog_messages_list.empty .typing_wrap { display: none }

.dialog_wrap .typing_wrap {
  height: 40px;
  padding: 10px 20px;
  color: #254f79;
  flex: none;
}

.dialog_wrap .typing_text { margin-left: 5px }

/* Поле для написания сообщения */

.dialog_input_wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: none;
  border-top: 1px solid #e7e8ec;
  background-color: #fafbfc;
}

.dialog_to_end {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: -50px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: solid 1px #cfd9e1;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  opacity: 1;
  cursor: pointer;
  transition: background-color .3s, transform .2s, opacity .2s;
}

.dialog_to_end:hover { background-color: #f6f8fb }

.dialog_to_end.hidden {
  transform: translateY(20px);
  opacity: 0;
}

.dialog_to_end_count:not(:empty) {
  position: absolute;
  top: -5px;
  right: -4px;
  background-color: #5281b9;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  padding: 1px 5px;
}

.dialog_to_end_icon {
  width: 25px;
  height: 25px;
}

.dialog_input_container {
  position: relative;
  width: calc(100% - 108px);
  margin: 6px 0;
  background-color: #fff;
  border: 1px solid #d3d9de;
  border-radius: 10px;
}

.dialog_input {
  min-height: 18px;
  max-height: 180px;
  line-height: 18px;
  padding: 10px 35px 10px 10px;
  overflow-x: auto;
}

.dialog_input:empty::before {
  content: attr(placeholder);
  color: #828282;
  cursor: text;
}

.dialog_input_emoji_btn {
  position: absolute;
  bottom: 7px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-image: url('../images/emoji.svg');
  opacity: .7;
  cursor: pointer;
  transition: opacity .3s;
}

.dialog_input_emoji_btn:hover { opacity: 1 }
.dialog_input_emoji_btn:active { transform: translateY(1px) }

.emoji_block {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 308px;
  height: 282px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  background-color: #fff;
  transform: translate(0, 15px);
  box-shadow: rgba(0, 0, 0, .2) 0px 0px 3px 0px;
  border: 1px solid #d6dae0;
  border-radius: 5px;
  transition: visibility .3s, opacity .3s, transform .3s;
}

.emoji_block.active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.emoji_bottom {
  height: 35px;
  border-top: 1px solid #d6dae0;
  box-shadow: rgba(0, 0, 0, .1) 0px -2px 3px -1px;
}

.emoji_bottom_item {
  width: 36px;
  height: 100%;
  cursor: pointer;
}

.emoji_bottom_item.active { background-color: #eceff1 !important }

.emoji_bottom_item.-emoji {
  background: url('../images/emoji.svg') no-repeat center;
}

.emoji_list {
  height: calc(100% - 40px);
  margin: 5px 2px 0 0;
  padding: 5px;
  overflow: auto;
}

.emoji_block_item { margin-bottom: 8px }

.emoji_block_name {
  position: sticky;
  top: -5px;
  z-index: 1;
  background-color: #fff;
  color: #87898c;
  font-size: 14px;
  padding: 0 0 4px 4px;
}

.emoji_block_image_wrap {
  display: inline-block;
  padding: 4px 4px 0 4px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .2s;
}

.emoji_block_image_wrap:hover { background-color: #dae0e4 }

.emoji_block_image {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.dialog_show_attachments_btn, .dialog_send {
  padding: 14px 15px;
  opacity: .7;
  cursor: pointer;
  transition: opacity .3s;
}

.dialog_show_attachments_btn:hover, .dialog_send:hover {
  opacity: 1;
}

.dialog_input_error {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog_input_error_img {
  width: 36px;
  height: 36px;
  background-color: #f3690b;
  -webkit-mask-size: 36px;
  -webkit-mask-image: url('../images/im_chat_error.png');
}

.dialog_input_error_text {
  margin: -4px 0 0 10px;
  text-align: center;
  font-size: 16px;
  color: #3e3f40;
}

.dialog_input_error_text.channel { margin: 0 auto }

.dialog_input_channel {
  color: #254f79;
  padding: 5px 10px;
  background-color: #e1e7ec;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .3s;
}

.dialog_input_channel:hover { background-color: #d6dee4 }
.dialog_input_channel:active { background-color: #ccd4da }

/* Сообщение */

.message {
  display: flex;
  flex: none;
  margin: 5px 20px 0;
}

.message_wrap:first-child {
  margin-top: auto;
  padding-top: 25px;
}

.message.first_msg_block { margin: 15px 20px 0 }
.message.from_me { justify-content: flex-end }

.message.service {
  justify-content: center;
}

.message_photo {
  flex: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 25px;
}

.message_empty_photo {
  flex: none;
  width: 46px;
}

.message_content { max-width: calc(100% - 65px) }

.message_name {
  color: #254f79;
  font-weight: 500;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 6px;
}

.message_text_wrap {
  position: relative;
  display: inline-block;
  max-width: 100%;
  background-color: #dfe6ea;
  padding: 7px 10px;
  border-radius: 18px;
}

.message_text_wrap.no_padding { padding: 0 }

.message_text_wrap.no_padding .message_text {
  display: block;
  padding: 7px 10px;
}

.message.from_me .message_text_wrap {
  background-color: #cce4fe;
}

.message.service .message_text_wrap {
  background-color: inherit;
}

.message_text_wrap.outread::before,
.message_text_wrap.outread::after {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 12px;
  border-radius: 50%;
  background-color: #93adc8;
}

.message:not(.service).from_me .message_text_wrap.outread::before {
  content: '';
  left: -20px;
}

.message:not(.service):not(.from_me) .message_text_wrap.outread::after {
  content: '';
  right: -20px;
}

.message:not(.service) .message_text {
  display: inline;
  word-break: break-word;
}

.message.service .message_text, .message_top_date {
  text-align: center;
  color: #4e4f50;
  word-break: break-word;
}

.message_content_deleted {
  display: inline;
  color: #4a4a4a;
}

.message_time_wrap {
  display: flex;
  float: right;
  color: #696969;
  font-weight: 500;
  font-size: 11px;
  margin: 6px 0 0 6px;
  user-select: none;
  pointer-events: none;
}

.message.service .message_time_wrap { display: none }

.message_time_wrap.fly {
  position: absolute;
  bottom: 9px;
  right: 6px;
  background-color: #00000073;
  color: #f5f5f5;
  border-radius: 9px;
  padding: 2px 6px;
}

.message_time_wrap .dot {
  width: 2px;
  height: 2px;
  margin: 7px 3px 0 3px;
  border-radius: 50%;
  background-color: #696969;
}

.message_time_wrap.fly .dot { background-color: #f5f5f5 }
.message_edited { margin-top: -1px }
.message_top_date { margin: 15px 0 }

.message_unreaded_messages {
  position: relative;
  text-align: center;
  font-size: 13px;
  color: #636363;
}

.message_unreaded_messages span {
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 10px;
}

.message_unreaded_messages::before,
.message_unreaded_messages::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  background: #d4d6da;
  top: 50%;
}

.message_unreaded_messages::before { left: 0 }
