.messages_container {
  display: flex;
  height: 100%;
}

.conversations_container {
  width: 300px;
  height: 100%;
}

.conversations_wrap, .dialogs_wrap {
  width: 100%;
  height: calc(100% - 40px);
}

.conversations_wrap {
  border-right: 1px solid #e7e8ec;
  overflow-x: auto;
}

.conversation { display: flex }
.conversation:not(:last-child) .conversation_content { border-bottom: 1px solid #e7e8ec }

.conversation_photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.conversation_photo.no_photo {
  background-image: url('../images/conversation_no_photo.png');
  background-size: 50px;
}

.conversation_content {
  width: calc(100% - 70px);
  padding: 10px 10px 10px 0;
}

.conversation_title { display: flex }
.conversation_title, .conversation_message_wrap { margin-top: 4px }

.conversation_title .verified {
  flex: none;
  margin: 3px 0 1px 3px;
}

.conversation_muted {
  flex: none;
  width: 13px;
  height: 13px;
  margin: 6px 0 0 4px;
  background-image: url('../images/muted.svg');
  background-size: 13px;
}

.conversation_name {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  font-weight: 500;
}

.conversation_name span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conversation_time {
  margin-left: 5px;
  color: #848a96;
  font-size: 13px;
}

.conversation_message_wrap { display: flex }

.conversation_author:not(:empty) {
  display: inline;
  color: #777a7d;
}

.conversation_message {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c4d50;
}

.conversation_attach {
  display: inline-block;
  color: #254f79;
}

.conversation_message .link:hover {
  cursor: text;
  text-decoration: none;
}

.conversation_message_unread {
  padding: 0 6px;
  margin: 2px 0 0 3px;
  border-radius: 10px;
  background-color: #5181b8;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

.conversation_message_unread:not(.outread):empty { display: none }
.conversation_message_unread:not(.outread).muted { background-color: #b2b7c2 }

.conversation_message_unread.outread {
  padding: 0;
  margin: 7px 4px 0 4px;
  min-width: 8px;
  height: 8px;
  background-color: rgba(147, 173, 200, 1);
}

.dialogs_container {
  height: 100%;
  flex-grow: 1;
}

/* @media screen and (max-width: 500px) {
  .conversations_wrap {
    width: 200px;
  }
} */
