/* Основные стили для блока сообщений */

.messages_container {
  display: flex;
  height: 100%;
}

.messages_container.active_chat.hideDialogs .conversations_container {
  display: none;
}

.messages_container.active_chat.hideDialogs .dialog_container {
  width: 100%;
}

.messages_container.active_chat.hideDialogs .dialog_header_back {
  display: inline-block;
}

.messages_muted {
  flex: none;
  width: 13px;
  height: 13px;
  margin: 3px 0 0 4px;
  background-image: url('../images/muted.svg');
  background-size: 13px;
}

.typing_wrap {
  display: flex;
  color: #254f79;
}

.typing { margin: 0 6px }

@keyframes activity_typing {
  0% { opacity: 1 }
  30% { opacity: .5 }
  100% { opacity: 1 }
}

.typing_item {
  display: inline-block;
  background-color: #5281b9;
  margin-bottom: 2px;
  animation: 1.1s linear 0s infinite activity_typing;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.typing_item:nth-child(2) { animation-delay: .37s }
.typing_item:nth-child(3) { animation-delay: .74s }

/* Список бесед */

.conversations_container {
  width: 300px;
  height: 100%;
}

.conversations_wrap {
  width: 100%;
  height: calc(100% - 45px);
  border-right: 1px solid #e7e8ec;
  overflow-x: auto;
}

.conversation {
  display: flex;
  position: relative;
  transition: background-color .3s;
}

.conversation:hover {
  background: #f5f7fa;
  cursor: pointer;
}

.conversation::before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: #5281b9;
  opacity: 0;
  transition: opacity .3s;
}

.conversation:not(.active):hover::before { opacity: .5 }
.conversation.active::before { opacity: 1 }

.conversation:not(:last-child) .conversation_content { border-bottom: 1px solid #e7e8ec }

.conversation_photo_wrap {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.conversation_photo_wrap.mobile::after,
.conversation_photo_wrap.desktop::after {
  content: '';
  position: absolute;
  box-sizing: content-box;
  width: 8px;
  bottom: 2px;
  right: -1px;
  border: 2px solid #fff;
}

.conversation_photo_wrap.mobile::after {
  height: 11px;
  border-radius: 3px;
  background: url('../images/online_mobile.svg') no-repeat #fff;
}

.conversation_photo_wrap.desktop::after {
  height: 8px;
  border-radius: 50%;
  background-color: #8ac176;
}

.conversation_photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.conversation_photo.no_photo {
  background-image: url('../images/im_chat_photo.png');
}

.conversation_content {
  width: calc(100% - 70px);
  padding: 10px 10px 10px 0;
}

.conversation_title {
  display: flex;
  margin-top: 5px;
}

.conversation_title .verified {
  flex: none;
  margin: 1px 0 1px 3px;
}

.conversation_name_wrap {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  font-weight: 500;
}

.conversation_name { margin-top: -2px }

.conversation_name, .typing_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conversation_time {
  flex: none;
  margin-left: 5px;
  color: #848a96;
  font-size: 13px;
}

.conversation_message_wrap {
  display: flex;
  height: 20px;
  margin-top: 4px
}

.conversation_author:not(:empty) {
  display: inline;
  color: #777a7d;
}

.conversation_message, .typing_wrap {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c4d50;
}

.typing_text { color: #254f79 }

.conversation_text { display: inline }

.conversation_attach {
  display: inline-block;
  color: #254f79;
}

.conversation_message .link:hover {
  cursor: text;
  text-decoration: none;
}

.conversation_message_unread {
  padding: 0 6px;
  margin: 2px 0 0 3px;
  border-radius: 10px;
  background-color: #5181b8;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

.conversation_message_unread:not(.outread):empty { display: none }
.conversation_message_unread:not(.outread).muted { background-color: #b2b7c2 }

.conversation_message_unread.outread {
  flex: none;
  padding: 0;
  margin: 7px 4px 0 4px;
  width: 8px;
  height: 8px;
  background-color: #93adc8;
}

@media screen and (max-width: 650px) {
  .conversations_container { width: 100% }
  .conversations_wrap { border-right: none }

  .messages_container:not(.active_chat) .dialog_container { display: none }
  .messages_container.active_chat .dialog_container { width: 100% }

  .messages_container.active_chat .conversations_container { display: none }
  .messages_container.active_chat .dialog_header_back { display: block }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .conversations_container { width: 43% }
  .dialog_container { width: 57% }
}

@media screen and (min-width: 900px) {
  .conversations_container { width: 387px }
  .dialog_container { width: calc(100% - 387px) }
}
