/* Oснова */

.modals_container {
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility .3s;
}

.modals_container:not(:empty) { visibility: visible }

.modal_wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, .4);
  transition: opacity .3s;
}

.modal_wrap.active {
  opacity: 1;
}

.modal {
  position: absolute;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .26);
}

.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5281b9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  height: 50px;
  padding: 0 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal_header_title {
  font-size: 15px;
  color: #eee;
}

.modal_header_close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: .7;
  margin-right: -15px;
  background-image: url('../images/close_modal.svg');
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .3s;
}

.modal_header_close:hover { opacity: 1 }

.modal_bottom {
  height: 56px;
  border-top: 1px solid #e7e8ec;
  background-color: #f7f8fa;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.modal_bottom .button,
.modal_bottom .light_button {
  min-width: 110px;
  margin: 9px 5px;
}

.modal_bottom .button.right:first-child,
.modal_bottom .light_button.right:first-child {
  margin-right: 10px;
}

.modal_bottom .button.right,
.modal_bottom .light_button.right { float: right }

/* Toasts */

.toast-enter-active, .toast-leave-active {
  transition: opacity .3s;
}
.toast-enter, .toast-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.toast_wrap {
  display: flex;
  justify-content: center;
}

.toast {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #000000a6;
  margin: 20px 0;
  padding: 13px 20px;
  border-radius: 25px;
  text-align: center;
  pointer-events: none;
  min-width: 60%;
  z-index: 100;
}

/* Капча */

.modal_content.captcha {
  width: 300px;
  background-color: #fcfcfc;
}

.captcha_img {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.captcha_img img {
  border: 1px solid #dadada;
  width: 132px;
  height: 52px;
}

.captcha_key {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.captcha .modal_bottom input { width: 130px }

.captcha_btn input {
  width: 250px;
  height: 30px;
}

/* Заблокированный аккаунт */

.modal_content.blocked_profile {
  padding: 20px;
  max-width: 450px;
}

/* Ошибка */

.modal_content.error {
  padding: 20px;
  max-width: 450px;
}

/* Мультиаккаунт */

.modal_content.multiaccount { min-width: 300px }

.multiaccount_item {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin: 0 20px;
}

.multiaccount_item_photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px 10px 0 0;
}

.multiaccount_item_data {
  flex-grow: 1;
  padding: 15px 0;
  max-width: 200px;
}

.multiaccount_item:not(:last-child) .multiaccount_item_data {
  border-bottom: 1px solid #e7e8ec;
}

.multiaccount_item_name_wrap { display: flex }
.multiaccount_item_name { flex-grow: 1 }

.multiaccount_item_descr {
  color: #3e70a9;
  margin-top: 4px;
}

.multiaccount_item_close {
  margin: 3px;
  width: 14px;
  height: 14px;
  opacity: .5;
  transition: opacity .3s;
}

.multiaccount_item_close:hover { opacity: .6 }
.multiaccount_confirm { padding: 20px }

/* Авторизация */

.modal_content.auth_modal { padding: 25px }

/* Выход из аккаунта */

.modal_content.logout { padding: 25px }

/* Просмотрщик фотографий */

.photo_viewer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_viewer, .photo_viewer img {
  max-width: 95%;
  max-height: calc(100vh - 32px);
  border-radius: 10px;
}

.photo_viewer img {
  box-shadow: 0 4px 20px rgba(0, 0, 0, .26);
}

/* Удаление всех сообщений */

.modal[name="clearHistory"] {
  width: 450px;
}

/* Обработка сообщений */

.modal[name="error-handler"] {
  width: 450px;
}

.modal[name="error-handler"] .modal_content {
  display: flex;
  padding: 20px;
}

.modal[name="error-handler"] .modal_content .error {
  -webkit-mask-image: url('../images/im_chat_error.png');
  -webkit-mask-size: contain;
  background-color: #f3690b;
  width: 56px;
  height: 60px;
  margin-right: 10px;
  flex: none;
}
