/* Oснова */

.modals_container {
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .4);
  transition: opacity .3s, visibility .3s;
}

.modals_container.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .26);
}

.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5281b9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  height: 50px;
  padding: 0 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal_header_title {
  font-size: 15px;
  color: #eee;
}

.modal_header_close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: .7;
  margin-right: -15px;
  background-image: url('../images/close_modal.svg');
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .3s;
}

.modal_header_close:hover { opacity: 1 }

.modal_content { background-color: #fff }

.modal_bottom {
  height: 56px;
  border-top: 1px solid #e7e8ec;
  background-color: #f7f8fa;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.modal_bottom .button {
  min-width: 110px;
  margin: 9px 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.modal_bottom .button.right:first-child {
  margin-right: 10px;
}

.modal_bottom .button.right { float: right }
.modal_bottom .button.left { float: left }

/* Капча */

.captcha {
  width: 300px;
  background-color: #fcfcfc;
}

.captcha_img {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.captcha_img img {
  border: 1px solid #dadada;
  width: 132px;
  height: 52px;
}

.captcha_key {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.captcha .modal_bottom input { width: 130px }

.captcha_btn input {
  width: 250px;
  height: 30px;
}

/* Заблокированный аккаунт */

.blocked_profile {
  padding: 20px;
  max-width: 450px;
}
