.titlebar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 32px;
  z-index: 6;
  /* background-color: #5281b9; */
  background-color: hsla(213, 44%, 48%, 1);
}

.titlebar_drag {
  -webkit-app-region: drag;
  user-select: none;
  flex-grow: 1;
  margin: 4px 0 0 4px;
  padding-left: 4px;
  color: #fff;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.titlebar.maximized .titlebar_drag {
  padding: 4px 0 0 8px;
  margin: 0;
  width: calc(100% - 152px);
  height: 100%;
}

.titlebar_buttons { display: flex }

.titlebar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .1s background-color cubic-bezier(0.77, 0, 0.175, 1);
  width: 48px;
  height: 32px;
}

.titlebar_button:hover {
  background-color: rgba(255, 255, 255, .1);
  transition-duration: .05s;
}
.titlebar_button:active {
  background-color: rgba(255, 255, 255, .05);
}

.titlebar_button.close:hover { background-color: #eb0716 }
.titlebar_button.close:active { background-color: #de000f }

.titlebar.maximized .titlebar_button.maximize { display: none }
.titlebar:not(.maximized) .titlebar_button.restore { display: none }

.titlebar.mac {
  height: 22px;
  /* background-color: hsla(213, 44%, 48%, 1); */
}
.titlebar.mac.maximized {
  display: none;
}
.titlebar.mac .titlebar_drag { margin-right: 4px }
.titlebar.mac .titlebar_buttons { display: none }
.titlebar.mac + .root { height: calc(100% - 22px) }

.titlebar.mac .titlebar_drag {
  font-size: 13px;
  text-align: center;
  line-height: 14px;
  opacity: 0.7;
}
