/* основные элементы интрефейса */

.scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(143, 143, 143, .4);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(143, 143, 143, .6);
}

.input {
  width: 250px;
  outline: none;
  border: 1px solid #d2d8de;
  border-radius: 5px;
  font-size: 15px;
  color: #3c3c3c;
  background-color: #fff;
  line-height: 32px;
  padding: 0 9px;
  transition: border-color .3s, color .3s, background-color .3s;
}

.input:disabled { color: #999 }
.input:hover { border: 1px solid #a2a5a8 }
.input:focus { border: 1px solid #7e7f7f }
.input::-webkit-input-placeholder { color: #a0a0a0 }

.button, .light_button {
  display: inline-block;
  font-size: 15px;
  padding: 9px;
  border: none;
  border-radius: 5px;
  user-select: none;
  text-align: center;
  transition: opacity .3s, background-color .3s;
}

.button:not(:disabled), .light_button:not(:disabled) {
  cursor: pointer;
}

.button:disabled, .light_button:disabled {
  opacity: .8;
}

.button {
  background-color: #598ac1;
  color: white;
}

.button:not(:disabled):hover { background-color: #547fb3 }
.button:not(:disabled):active { background-color: #4977a9 }

.light_button {
  background-color: #e4eaf0;
  color: #55677d;
}

.light_button:not(:disabled):hover { background-color: #dbe3eb }
.light_button:not(:disabled):active { background-color: #d3dce6 }

.link {
  display: inline-block;
  color: #254f79;
  cursor: pointer;
  transition: color .3s;
}

.link:hover { text-decoration: underline }

.emoji {
  margin: 0 1px -3px 1px;
  width: 16px;
  height: 16px;
}

.verified {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url('../images/verified.svg');
  background-size: 16px;
}

.checkbox {
  display: inline-block;
  position: relative;
  line-height: 1em;
  margin-bottom: 5px;
  user-select: none;
  cursor: pointer;
}

.checkbox::before {
  content: '';
  float: left;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  transition: background-color .2s, border-color .2s;
}

.checkbox:hover::before {
  background-color: #eee;
  border-color: #aaa;
}

.checkbox.active::before {
  background-color: #5181b8;
  border: 1px solid #5181b8;
}

.checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1.5px;
  width: 13px;
  height: 13px;
  background-color: #fff;
  visibility: hidden;
  clip-path: polygon(81% 19%, 91% 28%, 38% 85%, 5% 55%, 15% 44%, 37% 66%);
  transition: visibility .2s;
}

.checkbox.active::after { visibility: visible }

.checkbox.active:hover::before {
  background-color: #4272a8;
  border: 1px solid #4272a8;
}

@keyframes spinner {
  0% { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.loading::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  margin: 10px auto;
  animation: spinner .7s infinite linear;
  background-image: url('../images/spinner.png');
  background-size: contain;
}

/* header */

.header {
  display: flex;
  align-items: center;
  background-color: #5281b9;
  width: 100%;
  height: 45px;
}

.header_name {
  color: white;
  padding: 0 0 1px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.open_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.open_menu_btn:hover { opacity: 1 }
