.ConvoList__header {
  display: grid;
  grid-template-areas:
    'avatar name menu'
    'avatar status menu';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  flex: none;
  border-bottom: 1px solid var(--vkui--color_separator_primary);
}

.ConvoList--compact .ConvoList__header {
  justify-items: center;
  grid-template: 'avatar' 1fr / 1fr;
}

.ConvoList__headerAvatar {
  grid-area: avatar;
  margin-right: 8px;
}

.ConvoList--compact .ConvoList__headerAvatar {
  margin-right: 0;
}

.ConvoList__headerName {
  grid-area: name;
  align-self: end;
}

.ConvoList__headerStatus {
  grid-area: status;
  align-self: start;
  font: var(--smallFont);
  color: var(--vkui--color_text_secondary);
}

.ConvoList__burgerMenu {
  grid-area: menu;
  padding: 2px;
}

.ConvoList__folders {
  display: flex;
  gap: 4px;
  margin: 8px 10px;
}

.ConvoList__folder {
  margin: 4px;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.ConvoList__folder--active {
  box-shadow: var(--vkui--elevation2);
  background: var(--vkui--color_background_contrast_themed);
}

.ConvoList__list {
  overflow: overlay;
  height: 100%;
  padding: 6px 8px;
  padding-top: 0;
}

.ConvoList__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--vkui--color_text_subhead);
}

.ConvoList__spinner {
  display: flex;
  margin: 16px auto;
}
