.ConvoList__header {
  display: flex;
  align-items: center;
  height: 48px;
  flex-shrink: 0;
  padding: 0 8px;
  border-bottom: 1px solid var(--vkui--color_separator_primary);
}

.ConvoList__headerAvatar {
  margin-right: 8px;
}

.ConvoList__headerExitIcon {
  margin-left: auto;
  padding: 2px;
}

.ConvoList__list {
  overflow: overlay;
  height: 100%;
}

.ConvoList__list--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
