.Floating__Reference {
  display: inline-flex;
  border-radius: 4px;
  padding: 2px;
  transition: background-color var(--fastTransition);
}

.Floating__Reference:hover {
  display: inline-flex;
  background-color: var(--vkui--color_transparent--hover);
}

.Floating__content {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity var(--fastTransition) ease,
    visibility var(--fastTransition) ease,
    background-color var(--fastTransition);
}

.Floating__content:not(.Floating__content--hoverEffect) {
  visibility: visible;
  opacity: 1;
}

.Floating__Reference:hover + .Floating__content--hoverEffect,
.Floating__content--hoverEffect:hover {
  visibility: visible;
  opacity: 1;
}
