.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.Auth__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  gap: 10px;
}

.Auth__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.Auth__footerLinks {
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 12px 0;
  gap: 12px;
}

.Auth__footerLinks, .Auth__footerLinks a {
  color: var(--text_tertiary);
}
