.Auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.Auth__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 250px;
  gap: 10px;
}

.Auth__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.Auth__confirmationHeader,
.Auth__QRHeader {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.Auth__confirmationDescription,
.Auth__QRDescription {
  text-align: center;
  margin: 12px 0;
}

.Auth__buttonsWrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.Auth__smsStatus {
  margin-top: 4px;
}

.Auth__accounts {
  display: flex;
  width: max-content;
  gap: 5px;
  position: relative;
  margin-bottom: -40%;
}

.Auth__account {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.Auth__accountContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100px;
  padding: 8px;
  gap: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color var(--fastTransition);
}

.Auth__accountContent:hover {
  background: var(--vkui--color_background_tertiary);
}

.Auth__accountName {
  display: -webkit-box;
  text-align: center;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 100%;
}

.Auth__accountDeleteButton {
  font: var(--smallFont);
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--fastTransition), opacity var(--fastTransition);
}

.Auth__accounts--deleteMode .Auth__accountDeleteButton {
  visibility: visible;
  opacity: 1;
}

.Auth__accountToggleDeleteModeButton {
  margin: 6px 0 auto 0;
  padding: 2px;
  position: absolute;
  right: -32px;
}

.Auth__accountToggleDeleteModeButton svg {
  transition: color var(--fastTransition);
}

.Auth__QR {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--vkui--color_background_contrast);
  padding: 12px;
  border-radius: 16px;
  width: calc(128px + 12px * 2);
  height: calc(128px + 12px * 2);
}

.Auth__QRLink {
  margin: 4px;
}

.Auth__footerLinks {
  display: flex;
  margin: 12px 0;
  gap: 12px;
}

.Auth__footerLinks, .Auth__footerLinks a {
  color: var(--vkui--color_text_secondary);
}
