.ConvoListItem {
  display: grid;
  position: relative;
  grid-template-areas:
    'avatar name name'
    'avatar message indicators';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr auto;
  row-gap: 2px;
  padding: 6px 8px;
  margin: 2px 0;
  border-radius: 12px;
  cursor: pointer;
  transition: background var(--fastTransition);
}

.ConvoListItem:not(.ConvoListItem--active):hover {
  background: var(--vkui--color_transparent--hover);
}

.ConvoListItem--active {
  background: var(--vkui--color_transparent--active);
}

.ConvoListItem__avatar {
  grid-area: avatar;
  margin-right: 10px;
}

.ConvoListItem--compact .ConvoListItem__avatar {
  margin-right: 0;
}

.ConvoListItem__name {
  grid-area: name;
  align-self: center;

  display: flex;
  align-items: center;
  overflow: hidden;
  font-weight: 500;
}

.ConvoListItem__nameText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ConvoListItem__nameIcons {
  margin-left: 3px;
}

.ConvoListItem__message {
  grid-area: message;
  align-self: center;

  display: flex;
  overflow: hidden;
  color: var(--vkui--color_text_subhead);
}

.ConvoListItem__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ConvoListItem__messageAuthor {
  color: var(--vkui--color_text_secondary--active);
}

.ConvoListItem__date {
  white-space: pre;
  color: var(--vkui--color_text_tertiary);
  flex: none;
}

.ConvoListItem__indicators {
  grid-area: indicators;
  align-self: center;
}

.ConvoListItem__indicators:not(:empty) {
  margin-left: 5px;
}

.ConvoListItem__compactCounter {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 2px solid var(--vkui--color_background_content);
}
