.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--vkui--color_text_primary);
  background: var(--vkui--color_background_content);
  user-select: none;
  font: var(--font);
  text-rendering: optimizeSpeed;
  -webkit-rtl-ordering: visual;
}

.App {
  position: relative;
  height: 100%;
  /* Чтобы не было страничного скролла при наличии кастомного тайтлбара */
  overflow: hidden;
}

/* Скроллбар меняется с дефолтного на кастомный только при выставлении стилей в этом селекторе */
.App:not(.App--isMacOS)::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  --scrollbar-color: transparent;
}

*:hover {
  --scrollbar-color: var(--vkui--color_overlay_primary);
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 0 5px var(--scrollbar-color) inset;
}
