.ButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  position: relative;
  border-radius: 6px;
  transition: background-color var(--fastTransition);
}

.ButtonIcon:hover {
  background: var(--vkui--color_transparent--hover);
}

.ButtonIcon--stretched {
  width: 100%;
  height: 100%;
}
