.ConvoView {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--vkd--color_background_convo_history);
}

.ConvoWrapper__spinner {
  display: flex;
  height: 100%;
  margin: auto;
}
