.Checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 0;
  gap: 8px;
  /* Для FocusVisible */
  border-radius: 4px;
  cursor: pointer;
}

.Checkbox__icon {
  flex: none;
  color: var(--vkui--color_icon_accent_themed);
  transition: opacity var(--fastTransition);
}

.Checkbox--off .Checkbox__icon {
  color: var(--vkui--color_icon_tertiary);
}

.Checkbox:hover .Checkbox__icon {
  opacity: 0.8;
}
