.ExpiredMessage {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 12px;
  color: var(--vkui--color_text_contrast);
  background-color: var(--vkui--color_overlay_primary);
  border-radius: 20px;
}

.ExpiredMessage__icon {
  margin-right: 8px;
  flex: none;
}
