.ConvoComposer {
  display: flex;
  justify-content: center;
  padding: 0 var(--convoHistoryIndent) var(--convoHistoryIndent) var(--convoHistoryIndent);
  background: var(--vkd--color_background_convo_history);
}

.ConvoComposer__panel {
  display: flex;
  align-items: center;
  background: var(--vkd--color_background_composer);
  padding: 4px 6px;
  width: 100%;
  max-width: calc(var(--convoHistoryMaxWidth) - 2 * var(--convoHistoryIndent));
  min-height: 42px;
  border-radius: 12px;
  box-shadow: var(--vkui--elevation3);
}

.ConvoComposer__input {
  width: 100%;
  margin: 8px 6px;
  font: var(--font);
  max-height: calc(10 * var(--lineHeight));
  overflow: auto;
}

.ConvoComposer__input:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  color: var(--vkui--color_text_secondary);
}

.ConvoComposer__send {
  padding-right: 6px;
  color: var(--vkui--color_icon_accent);
  opacity: 0.8;
  transition: 0.2s opacity;
}

.ConvoComposer__send:hover {
  color: var(--vkui--color_icon_accent);
  opacity: 1;
}

.ConvoComposer__send[disabled] {
  pointer-events: none;
  opacity: 0.8;
  background-color: transparent;
}

.ConvoComposer__restriction {
  display: flex;
  align-items: center;
  margin: 0 4px;
  gap: 8px;
  color: var(--vkui--color_text_subhead);
}

.ConvoComposer__muteChannelButton {
  color: var(--vkui--color_text_accent);
  font-weight: 500;
  margin: 0 auto;
}
