.ConvoComposer {
  display: flex;
  justify-content: center;
  padding: 0 var(--convoHistoryIndent) var(--convoHistoryIndent) var(--convoHistoryIndent);
}

.ConvoComposer__inner {
  background: var(--vkd--color_background_composer);
  width: 100%;
  max-width: calc(var(--convoHistoryMaxWidth) - 2 * var(--convoHistoryIndent));
  border-radius: 12px;
  box-shadow: var(--vkui--elevation3);
}

.ConvoComposer__attaches {
  display: flex;
  gap: 12px;
  padding: 12px;
  overflow: auto;
  border-bottom: 1px solid var(--vkui--color_separator_primary);
}

.ConvoComposer__panel {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  min-height: 42px;
}

.ConvoComposer__input {
  width: 100%;
  margin: 8px 6px;
  font: var(--font);
  max-height: calc(10 * var(--lineHeight));
  overflow: auto;
}

.ConvoComposer__input:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  color: var(--vkui--color_text_secondary);
}

.ConvoComposer__send {
  width: 34px;
  height: 34px;
  align-self: flex-end;
  color: var(--vkui--color_icon_accent);
  opacity: 0.8;
  transition: opacity var(--fastTransition);
}

.ConvoComposer__send:hover {
  opacity: 1;
}

.ConvoComposer__restriction {
  display: flex;
  align-items: center;
  margin: 0 4px;
  gap: 8px;
  color: var(--vkui--color_text_subhead);
}

.ConvoComposer__muteChannelButton {
  color: var(--vkui--color_text_accent);
  font-weight: 500;
  margin: 0 auto;
}
