@import 'css/ui.css';
@import 'css/titlebar.css';
@import 'css/modals.css';
@import 'css/auth.css';
@import 'css/menu.css';
@import 'css/messages_conversations.css';
@import 'css/messages_peer.css';

*, *::before, *::after { box-sizing: border-box }

@font-face {
	font-family: 'Segoe UI';
	font-weight: 400;
	font-display: block;
	src: local('Segoe UI'),
			 url('css/SegoeUI.ttf');
}

@font-face {
	font-family: 'Segoe UI';
	font-weight: 500;
	font-display: block;
	src: local('Segoe UI Semibold'),
			 url('css/SegoeUISemiBold.ttf');
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar { display: none }
:focus { outline: none }

body {
  font-family: 'Segoe UI';
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.app { height: 100% }

.root {
  position: relative;
	/* 32px - высота titlebar'a по умолчанию */
  height: calc(100% - 32px);
}

.root.modal_opened::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(0, 0, 0, .4);
}
