@import 'css/ui.css';
@import 'css/titlebar.css';
@import 'css/auth.css';
@import 'css/menu.css';
@import 'css/profile.css';
@import 'css/messages.css';

*, *::before, *::after { box-sizing: border-box }

@font-face {
  font-family: 'Open Sans';
  src: url('css/OpenSans.ttf');
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece  {
  background-color: #EDEDED;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #CBCBCB;
  border-radius: 6px;
}

.app { height: 100% }

.root {
  position: relative;
  height: calc(100% - 32px);
}
