@import 'css/ui.css';
@import 'css/titlebar.css';
@import 'css/auth.css';
@import 'css/menu.css';
@import 'css/profile.css';
@import 'css/messages.css';

*, *::before, *::after { box-sizing: border-box }

@font-face {
	font-family: 'Segoe UI';
	font-weight: 400;
	src: url('css/SegoeUI.ttf');
}

@font-face {
	font-family: 'Segoe UI';
	font-weight: 500;
	src: url("css/SegoeUISemiBold.ttf");
}

body {
  font-family: 'Segoe UI';
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar { display: none }

.app { height: 100% }

.root {
  position: relative;
  height: calc(100% - 32px);
}
