.root {
  --background: #fff;
  /* Используется для времени у стикеров в сообщении */
  --background-alpha: #ffffffdf;
  --background-blue: #5181b8;
  /* Используется для точки, которая означает, что сообщение еще не прочитано */
  --background-blue-overlight: #92b2d6;
  --background-blue-text: #fff;
  --background-blue-ripple: #00000026;
  --background-light-steel-gray: #aeb7c2;
  --background-steel-gray: #9099a3;
  /* Используется для окраски фона поля для ввода текста (deprecated) */
  --background-gray-overlight: #fbfbfb;
  --background-black-alpha: rgba(0, 0, 0, .08);

  --text-white: #f5f5f5;
  --text-primary: #000;
  --text-primary-alpha: rgba(0, 0, 0, .75);
  --text-secondary: #818c99;
  --text-steel-gray: #6d7885;
  --text-dark-steel-gray: #5c6570;
  --text-gray: #454647;
  --text-blue: #2a5989;
  --text-light-blue: #0f5cb3;

  --accent: #528bcc;
  --red: #de3f3f;
  --red-light: #e64646;
  --red-dark: #d92c3a;
  --green: #4bb34b;
  --separator: #e7e8ec;
  --separator-dark: #d7d8d9;

  --titlebar-background: #f5f5f5;

  --button-light-background: #0039731a;
  --button-light-color: #55677d;
  --button-light-ripple: #ced7e0;

  --field-background: #f2f3f5;
  --field-placeholder: #818c99;
  --field-border: #0000001f;
  --field-color: #222;

  --icon-gray: #99a2ad;
  --icon-dark-gray: #828a99;
  --icon-blue: #3f8ae0;
  --icon-dark-blue: #648fc1;

  --hover-background: #edf2f8;
  --hover-background-ripple: #e1ebf4;
  --hover-background-gray: #ebedf0;

  --messages-peer-active: #f0f1f2;
  --messages-peer-hover: #f8f8f8;

  --message-bubble-background: #dfe6ea;
  --message-bubble-background-alpha: #dfe6eadf;
  --message-out-bubble-background: #c7dff9;
  --message-out-bubble-background-alpha: #c7dff9df;

  --attach-left-border: #7197c5;
}

.root .st-useLightMessageColors {
  --message-bubble-background: #ebedf0;
  --message-bubble-background-alpha: #ebedf0df;
  --message-out-bubble-background: #cce4ff;
  --message-out-bubble-background-alpha: #cce4ffdf;
}
