*, *::before, *::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Roboto VK;
  font-weight: 400;
  font-display: block;
  src: url('~assets/Roboto-VK-400.woff2');
}

@font-face {
  font-family: Roboto VK;
  font-weight: 500;
  font-display: block;
  src: url('~assets/Roboto-VK-500.woff2');
}

body {
  font-family: BlinkMacSystemFont, Roboto VK;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  -webkit-rtl-ordering: visual;
  text-rendering: optimizeSpeed;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

img:not(.emoji) {
  user-select: none;
}

.app {
  display: flex;
  position: relative;
  height: calc(100vh - var(--titlebar-height));
}

.root {
  --titlebar-height: 32px;

  background: var(--background);
  color: var(--text-primary);
}

.root.mac {
  --titlebar-height: 24px;

  letter-spacing: .02em;
}

.section_container {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

.emoji {
  margin: 0 1px -2px 1px;
  width: 16px;
  height: 16px;
}

.link {
  display: inline;
  color: var(--text-blue);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.border-top-shadow {
  position: relative;
  border-top: 1px solid var(--separator);
}

.border-bottom-shadow {
  position: relative;
  border-bottom: 1px solid var(--separator);
}

.im_peers_container .header.isScrolled::after,
.border-top-shadow::before,
.border-bottom-shadow::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: 4px;
  pointer-events: none;
}

.border-top-shadow::before {
  bottom: 100%;
  margin-bottom: 1px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .06));
}

.im_peers_container .header.isScrolled::after,
.border-bottom-shadow::after {
  top: 100%;
  margin-top: 1px;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .06));
}

/* Input ========================== */

.input {
  width: 250px;
  outline: none;
  border: 1px solid var(--field-border);
  border-radius: 7px;
  background: var(--field-background);
  font-size: 15px;
  color: var(--field-color);
  line-height: 36px;
  height: 36px;
  padding: 0 9px;
  transition: border-color .3s;
}

.input:focus {
  border-color: var(--accent);
}

.input::-webkit-input-placeholder {
  color: var(--field-placeholder);
}

/* Header ============================ */

.header {
  display: flex;
  align-items: center;
  background: var(--background);
  color: var(--text-primary);
  width: 100%;
  height: 50px;
}

.header_name {
  color: var(--text-primary);
  padding-left: 10px;
}

.text-overflow,
.im_peer_message_wrap > div:first-child,
.keyboard_button div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes spinner {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.loading::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  margin: 10px auto;
  animation: spinner .7s infinite linear;
  background: url('~assets/spinner.webp') 0 / contain;
}

.verified {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  color: var(--icon-blue);
}

.icon-hover {
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s;
}

.icon-hover:hover {
  opacity: 1;
}

/* Action menu ============================== */

.act_menu_item {
  display: flex;
  align-items: center;
  padding: 9px 12px;
  cursor: pointer;
  color: var(--text-primary);
  transition: background-color .3s;
}

.act_menu_item:hover {
  background: var(--hover-background-gray);
}

.act_menu_icon {
  flex: none;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.act_menu_close_icon {
  padding: 1px 2px 1px 1px;
}

.act_menu_data {
  margin-left: 12px;
  line-height: 18px;
}

/* Transition animations ====================== */

.fade-out-enter-active, .fade-out-leave-active {
  transition: opacity .2s;
}

.fade-out-enter-from, .fade-out-leave-to {
  opacity: 0;
}

/* IM search =================================== */

.im_search_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: var(--background);
  z-index: 3;
}

.im_search_container .im_header_back {
  display: block;
}

.im_search_input {
  color: var(--field-color);
  border: none;
  border-radius: 24px;
  height: 36px;
  width: 100%;
  font-size: 15px;
  margin: 0 5px;
  padding: 0 10px;
  transition: box-shadow .3s;
}

.im_search_input::-webkit-input-placeholder {
  color: var(--field-placeholder);
}

.im_search_cancel {
  width: 26px;
  height: 26px;
  padding-right: 10px;
}

.im_search_placeholder {
  color: var(--text-dark-steel-gray);
  text-align: center;
  margin: 25px 10px 0 10px;
}
