body {
  --background-content: #ffffff;
  --titlebar-background: #5181b8;
  --button-primary-background: #5181b8;
  --button-primary-color: #ffffff;
  --button-primary-hover-background: #547fb3;
  --button-primary-active-background: #4977a9;
  --button-secondary-background: #1a003973;
  --button-secondary-color: #45678f;
  --button-secondary-hover-background: #dbe3eb;
  --button-secondary-active-background: #d3dce6;
  --im-unread-background: #edf0f5;
  --im-input-background: #fbfbfb;
  --im-peer-highlighted: #F9F9F9;
  --im-peer-ripples: #e6ebf2;
  --im-peer-author: #8b939b;
  --im-peer-text: #656565;
  --im-peer-chat: #222;
  --counter-primary-background: #528bcc;
  --counter-primary-text: #ffffff;
  --counter-secondary-background: #aaaeb3;
  --counter-secondary-text: #ffffff;
  --menu-item-icon-background: #aeb7c2;
  --menu-item-text-color: #1b1b1c;
  --menu-item-hover-background: #e1e1e1;
  --menu-item-active-icon-background: #648fc1;
  --menu-item-active-text-color: #3e70a9;
  --menu-item-ripples: #cdcdcd;
  --modal-header-color: #ffffff;
  --modal-footer-background: #f7f8fa;
  --border-color: #e4e6e9;
  --online-color: #4bb34b;
  --text-primary: #000000;
  --text-secondary: #909499;
  --text-placeholder: #818C99;
  --text-link: #3c6a9e;
  --destructive: #e64646;
  --scrolly-background: rgba(0, 0, 0, 0.3);
  --scrolly-highlighted: rgba(0, 0, 0, .4);
}

body[scheme="dark"] {
  --background-content: #19191a;
  --titlebar-background: #2c2d2e;
  --button-primary-background: #e1e3e6;
  --button-primary-color: #19191a;
  --button-primary-hover-background: #c5c7ca;
  --button-primary-active-background: #b0b2b5;
  --button-secondary-background: #454647;
  --button-secondary-color: #e1e3e6;
  --button-secondary-hover-background: #343536;
  --button-secondary-active-background: #2b2c2d;
  --im-unread-background: #121213;
  --im-input-background: #252525;
  --im-peer-highlighted: #353536;
  --im-peer-ripples: #444445;
  --im-peer-author: #94979a;
  --im-peer-text: #a6a7ab;
  --im-peer-chat: #e1e3e6;
  --counter-primary-background: #71aaeb;
  --counter-primary-text: #ffffff;
  --counter-secondary-background: #76787a;
  --counter-secondary-text: #19191a;
  --menu-item-icon-background: #76787a;
  --menu-item-text-color: #76787a;
  --menu-item-hover-background: #202021;
  --menu-item-active-icon-background: #71aaeb;
  --menu-item-active-text-color: #71aaeb;
  --menu-item-ripples: #252526;
  --modal-header-color: #e1e3e6;
  --modal-footer-background: #19191a;
  --border-color: #313233;
  --online-color: #4bb34b;
  --text-primary: #e1e3e6;
  --text-secondary: #76787a;
  --text-placeholder: #aaaeb3;
  --text-link: #71aaeb;
  --destructive: #FF4e5F;
  --scrolly-background: #aaaaaa;
  --scrolly-highlighted: #919191;
}

body:not([scheme="dark"]) .modal_footer .light_button {
  background-color: #e4e9ef;
}
