body {
  --background_content: #FFFFFF;
  --titlebar_background: #5181B8;
  --button_primary_background: #5181B8;
  --button_primary_color: #FFFFFF;
  --button_primary_hover_background: #547fb3;
  --button_primary_active_background: #4977a9;
  --button_secondary_background: #1A003973;
  --button_secondary_color: #45678F;
  --button_secondary_hover_background: #dbe3eb;
  --button_secondary_active_background: #d3dce6;
  --im_unread_background: #edf0f5;
  --im_input_background: #fbfbfb;
  --im_peer_highlighted: #F9F9F9;
  --im_peer_ripples: #e6ebf2;
  --im_peer_author: #8b939b;
  --im_peer_text: #656565;
  --im_peer_chat: #222;
  --counter_primary_background: #528bcc;
  --counter_primary_text: #FFFFFF;
  --counter_secondary_background: #aaaeb3;
  --counter_secondary_text: #FFFFFF;
  --menu_item_icon_background: #AEB7C2;
  --menu_item_text_color: #1B1B1C;
  --menu_item_hover_background: #E1E1E1;
  --menu_item_active_icon_background: #648fc1;
  --menu_item_active_text_color: #3e70a9;
  --menu_item_ripples: #CDCDCD;
  --modal_header_color: #fff;
  --modal_footer_background: #f7f8fa;
  --border_color: #E4E6E9;
  --text_primary: #000000;
  --text_secondary: #909499;
  --text_placeholder: #818C99;
  --text_link: #3C6A9E;
  --destructive: #E64646;
  --scrolly_background: rgba(0, 0, 0, 0.3);
  --scrolly_highlighted: rgba(0, 0, 0, .4);
}

body[scheme="dark"] {
  --background_content: #19191A;
  --titlebar_background: #2c2d2e;
  --button_primary_background: #E1E3E6;
  --button_primary_color: #19191A;
  --button_primary_hover_background: #C5C7CA;
  --button_primary_active_background: #B0B2B5;
  --button_secondary_background: #454647;
  --button_secondary_color: #E1E3E6;
  --button_secondary_hover_background: #343536;
  --button_secondary_active_background: #2B2C2D;
  --im_unread_background: #121213;
  --im_input_background: #252525;
  --im_peer_highlighted: #353536;
  --im_peer_ripples: #444445;
  --im_peer_author: #94979A;
  --im_peer_text: #A6A7AB;
  --im_peer_chat: #E1E3E6;
  --counter_primary_background: #71AAEB;
  --counter_primary_text: #FFFFFF;
  --counter_secondary_background: #76787A;
  --counter_secondary_text: #19191A;
  --menu_item_icon_background: #76787A;
  --menu_item_text_color: #76787A;
  --menu_item_hover_background: #202021;
  --menu_item_active_icon_background: #71AAEB;
  --menu_item_active_text_color: #71AAEB;
  --menu_item_ripples: #252526;
  --modal_header_color: #E1E3E6;
  --modal_footer_background: #19191A;
  --border_color: #313233;
  --text_primary: #E1E3E6;
  --text_secondary: #76787A;
  --text_placeholder: #aaaeb3;
  --text_link: #71AAEB;
  --destructive: #FF4E5F;
  --scrolly_background: #AAAAAA;
  --scrolly_highlighted: #919191;
}
