.ActionMenuItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background-color var(--fastTransition);
}

.ActionMenuItem--withIcon {
  gap: 12px;
}

.ActionMenuItem:hover {
  background-color: var(--vkui--color_transparent--hover);
}
