/* stylelint-disable */
/* Этот файл сгенерирован с помощью scripts/generateSchemes.mjs */
[data-scheme="vkcom-dark"] {
  --vkui--theme_name: vkComDark;
  --vkui--theme_name_base: vkCom;
  --vkui--gradient_black: rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 15%, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0.32) 70%, rgba(0, 0, 0, 0.38) 85%, rgba(0, 0, 0, 0.4) 100%;
  --vkui--gradient_white: rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 15%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.95) 85%, rgba(255, 255, 255, 1) 100%;
  --vkui--gradient_tint: rgba(41, 41, 41, 0) 0%, rgba(41, 41, 41, 0.05) 15%, rgba(41, 41, 41, 0.2) 30%, rgba(41, 41, 41, 0.8) 70%, rgba(41, 41, 41, 0.95) 85%, rgba(41, 41, 41, 1) 100%;
  --vkui--gradient: rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.05) 15%, rgba(34, 34, 34, 0.2) 30%, rgba(34, 34, 34, 0.8) 70%, rgba(34, 34, 34, 0.95) 85%, rgba(34, 34, 34, 1) 100%;
  --vkui--elevation1: 0px 0px 2px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
  --vkui--elevation1_invert_y: 0px 0px 2px 0px rgba(0, 0, 0, 0.10), 0px -2px 2px 0px rgba(0, 0, 0, 0.20);
  --vkui--elevation2: 0px 4px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
  --vkui--elevation3: 0px 0px 2px 0px rgba(0, 0, 0, 0.30), 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
  --vkui--elevation4: 0px 0px 8px 0px rgba(0, 0, 0, 0.10), 0px 16px 16px 0px rgba(0, 0, 0, 0.20);
  --vkui--font_family_fallbacks: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_family_accent: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_family_base: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_weight_accent1: 600;
  --vkui--font_weight_accent2: 500;
  --vkui--font_weight_accent3: 400;
  --vkui--font_weight_base1: 600;
  --vkui--font_weight_base2: 500;
  --vkui--font_weight_base3: 400;
  --vkui--font_display_title1--font_size: 23px;
  --vkui--font_display_title1--line_height: 28px;
  --vkui--font_display_title1--font_family: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title1--font_weight: 600;
  --vkui--font_display_title1--font_size--regular: 23px;
  --vkui--font_display_title1--line_height--regular: 28px;
  --vkui--font_display_title1--font_family--regular: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title1--font_weight--regular: 600;
  --vkui--font_display_title2--font_size--regular: 21px;
  --vkui--font_display_title2--line_height--regular: 26px;
  --vkui--font_display_title2--font_family--regular: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title2--font_weight--regular: 600;
  --vkui--font_display_title2--font_size--compact: 22px;
  --vkui--font_display_title2--line_height--compact: 24px;
  --vkui--font_display_title2--font_family--compact: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title2--font_weight--compact: 600;
  --vkui--font_display_title3--font_size: 19px;
  --vkui--font_display_title3--line_height: 24px;
  --vkui--font_display_title3--font_family: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title3--font_weight: 600;
  --vkui--font_display_title3--font_size--regular: 19px;
  --vkui--font_display_title3--line_height--regular: 24px;
  --vkui--font_display_title3--font_family--regular: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title3--font_weight--regular: 600;
  --vkui--font_display_title4--font_size: 17px;
  --vkui--font_display_title4--line_height: 22px;
  --vkui--font_display_title4--font_family: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title4--font_weight: 600;
  --vkui--font_display_title4--font_size--regular: 17px;
  --vkui--font_display_title4--line_height--regular: 22px;
  --vkui--font_display_title4--font_family--regular: "VK Sans Display", "VK Sans Display Faux", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_display_title4--font_weight--regular: 600;
  --vkui--font_title1--font_size: 24px;
  --vkui--font_title1--line_height: 28px;
  --vkui--font_title1--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_title1--font_weight: 600;
  --vkui--font_title1--font_size--regular: 24px;
  --vkui--font_title1--line_height--regular: 28px;
  --vkui--font_title1--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_title1--font_weight--regular: 600;
  --vkui--font_title2--font_size: 20px;
  --vkui--font_title2--line_height: 24px;
  --vkui--font_title2--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_title2--font_weight: 600;
  --vkui--font_title2--font_size--regular: 20px;
  --vkui--font_title2--line_height--regular: 24px;
  --vkui--font_title2--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_title2--font_weight--regular: 600;
  --vkui--font_title3--font_size: 17px;
  --vkui--font_title3--line_height: 22px;
  --vkui--font_title3--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_title3--font_weight: 600;
  --vkui--font_title3--font_size--regular: 17px;
  --vkui--font_title3--line_height--regular: 22px;
  --vkui--font_title3--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_title3--font_weight--regular: 600;
  --vkui--font_headline1--font_size--regular: 16px;
  --vkui--font_headline1--line_height--regular: 20px;
  --vkui--font_headline1--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_headline1--font_weight--regular: 500;
  --vkui--font_headline1--font_size--compact: 14px;
  --vkui--font_headline1--line_height--compact: 18px;
  --vkui--font_headline2--font_size--regular: 15px;
  --vkui--font_headline2--line_height--regular: 20px;
  --vkui--font_headline2--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_headline2--font_weight--regular: 500;
  --vkui--font_headline2--font_size--compact: 14px;
  --vkui--font_headline2--line_height--compact: 20px;
  --vkui--font_text--font_size--regular: 16px;
  --vkui--font_text--line_height--regular: 20px;
  --vkui--font_text--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_text--font_weight--regular: 400;
  --vkui--font_text--font_size--compact: 13px;
  --vkui--font_text--line_height--compact: 16px;
  --vkui--font_paragraph--font_size: 15px;
  --vkui--font_paragraph--line_height: 20px;
  --vkui--font_paragraph--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_paragraph--font_weight: 400;
  --vkui--font_paragraph--font_size--regular: 15px;
  --vkui--font_paragraph--line_height--regular: 20px;
  --vkui--font_paragraph--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_paragraph--font_weight--regular: 400;
  --vkui--font_subhead--font_size--regular: 14px;
  --vkui--font_subhead--line_height--regular: 18px;
  --vkui--font_subhead--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_subhead--font_weight--regular: 400;
  --vkui--font_subhead--font_size--compact: 14px;
  --vkui--font_subhead--line_height--compact: 18px;
  --vkui--font_footnote--font_size: 13px;
  --vkui--font_footnote--line_height: 16px;
  --vkui--font_footnote--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_footnote--font_weight: 400;
  --vkui--font_footnote--font_size--regular: 13px;
  --vkui--font_footnote--line_height--regular: 16px;
  --vkui--font_footnote--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_footnote--font_weight--regular: 400;
  --vkui--font_footnote_caps--font_size: 13px;
  --vkui--font_footnote_caps--line_height: 16px;
  --vkui--font_footnote_caps--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_footnote_caps--font_weight: 400;
  --vkui--font_footnote_caps--text_transform: uppercase;
  --vkui--font_footnote_caps--font_size--regular: 13px;
  --vkui--font_footnote_caps--line_height--regular: 16px;
  --vkui--font_footnote_caps--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_footnote_caps--font_weight--regular: 400;
  --vkui--font_footnote_caps--text_transform--regular: uppercase;
  --vkui--font_caption1--font_size: 12px;
  --vkui--font_caption1--line_height: 14px;
  --vkui--font_caption1--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption1--font_weight: 400;
  --vkui--font_caption1--font_size--regular: 12px;
  --vkui--font_caption1--line_height--regular: 14px;
  --vkui--font_caption1--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption1--font_weight--regular: 400;
  --vkui--font_caption1_caps--font_size: 12px;
  --vkui--font_caption1_caps--line_height: 14px;
  --vkui--font_caption1_caps--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption1_caps--font_weight: 600;
  --vkui--font_caption1_caps--text_transform: uppercase;
  --vkui--font_caption1_caps--font_size--regular: 12px;
  --vkui--font_caption1_caps--line_height--regular: 14px;
  --vkui--font_caption1_caps--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption1_caps--font_weight--regular: 600;
  --vkui--font_caption1_caps--text_transform--regular: uppercase;
  --vkui--font_caption2--font_size: 11px;
  --vkui--font_caption2--line_height: 14px;
  --vkui--font_caption2--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption2--font_weight: 400;
  --vkui--font_caption2--font_size--regular: 11px;
  --vkui--font_caption2--line_height--regular: 14px;
  --vkui--font_caption2--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption2--font_weight--regular: 400;
  --vkui--font_caption2_caps--font_size: 11px;
  --vkui--font_caption2_caps--line_height: 14px;
  --vkui--font_caption2_caps--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption2_caps--font_weight: 600;
  --vkui--font_caption2_caps--text_transform: uppercase;
  --vkui--font_caption2_caps--font_size--regular: 11px;
  --vkui--font_caption2_caps--line_height--regular: 14px;
  --vkui--font_caption2_caps--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption2_caps--font_weight--regular: 600;
  --vkui--font_caption2_caps--text_transform--regular: uppercase;
  --vkui--font_caption3--font_size: 9px;
  --vkui--font_caption3--line_height: 12px;
  --vkui--font_caption3--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption3--font_weight: 400;
  --vkui--font_caption3--font_size--regular: 9px;
  --vkui--font_caption3--line_height--regular: 12px;
  --vkui--font_caption3--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption3--font_weight--regular: 400;
  --vkui--font_caption3_caps--font_size: 9px;
  --vkui--font_caption3_caps--line_height: 12px;
  --vkui--font_caption3_caps--font_family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption3_caps--font_weight: 600;
  --vkui--font_caption3_caps--text_transform: uppercase;
  --vkui--font_caption3_caps--font_size--regular: 9px;
  --vkui--font_caption3_caps--line_height--regular: 12px;
  --vkui--font_caption3_caps--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_caption3_caps--font_weight--regular: 600;
  --vkui--font_caption3_caps--text_transform--regular: uppercase;
  --vkui--size_select_icon_padding--regular: 6px;
  --vkui--size_select_icon_padding--compact: 7px;
  --vkui--size_popup_base_padding--regular: 32px;
  --vkui--size_popup_base_padding--compact: 20px;
  --vkui--size_popup_header_padding--regular: 24px;
  --vkui--size_popup_header_padding--compact: 16px;
  --vkui--size_label_horizontal_margin: 16px;
  --vkui--size_label_horizontal_margin--regular: 16px;
  --vkui--size_border_radius: 8px;
  --vkui--size_border_radius--regular: 8px;
  --vkui--size_border_radius_rounded: 48px;
  --vkui--size_border_radius_rounded--regular: 48px;
  --vkui--size_check_border_radius: 4px;
  --vkui--size_check_border_radius--regular: 4px;
  --vkui--size_border_radius_paper: 12px;
  --vkui--size_border_radius_paper--regular: 12px;
  --vkui--size_border_radius_promo: 20px;
  --vkui--size_border_radius_promo--regular: 20px;
  --vkui--size_cell_height--regular: 48px;
  --vkui--size_cell_height--compact: 44px;
  --vkui--size_field_height--regular: 44px;
  --vkui--size_field_height--compact: 36px;
  --vkui--size_search_height--regular: 36px;
  --vkui--size_search_height--compact: 32px;
  --vkui--size_button_extra_small_height--regular: 24px;
  --vkui--size_button_extra_small_height--compact: 22px;
  --vkui--size_button_small_height--regular: 30px;
  --vkui--size_button_small_height--compact: 28px;
  --vkui--size_button_medium_height--regular: 36px;
  --vkui--size_button_medium_height--compact: 32px;
  --vkui--size_button_large_height--regular: 44px;
  --vkui--size_button_large_height--compact: 36px;
  --vkui--size_checkbox: 16px;
  --vkui--size_checkbox--regular: 16px;
  --vkui--size_arrow: 8px;
  --vkui--size_arrow--regular: 8px;
  --vkui--size_arrow_promo: 40px;
  --vkui--size_arrow_promo--regular: 40px;
  --vkui--size_popup_small: 448px;
  --vkui--size_popup_small--regular: 448px;
  --vkui--size_popup_medium: 680px;
  --vkui--size_popup_medium--regular: 680px;
  --vkui--size_popup_large: 880px;
  --vkui--size_popup_large--regular: 880px;
  --vkui--size_field_horizontal_padding: 12px;
  --vkui--size_field_horizontal_padding--regular: 12px;
  --vkui--size_button_padding_horizontal: 12px;
  --vkui--size_button_padding_horizontal--regular: 12px;
  --vkui--size_arrow_padding: 12px;
  --vkui--size_arrow_padding--regular: 12px;
  --vkui--size_tooltip_margin: 8px;
  --vkui--size_tooltip_margin--regular: 8px;
  --vkui--size_icon_u_i: 16px;
  --vkui--size_icon_u_i--regular: 16px;
  --vkui--size_avatar_x_s: 24px;
  --vkui--size_avatar_x_s--regular: 24px;
  --vkui--size_avatar_s: 32px;
  --vkui--size_avatar_s--regular: 32px;
  --vkui--size_avatar_m: 48px;
  --vkui--size_avatar_m--regular: 48px;
  --vkui--size_avatar_l: 96px;
  --vkui--size_avatar_l--regular: 96px;
  --vkui--size_avatar_x_l: 128px;
  --vkui--size_avatar_x_l--regular: 128px;
  --vkui--size_badge_x_s: 12px;
  --vkui--size_badge_x_s--regular: 12px;
  --vkui--size_badge_s: 16px;
  --vkui--size_badge_s--regular: 16px;
  --vkui--size_badge_m: 24px;
  --vkui--size_badge_m--regular: 24px;
  --vkui--size_badge_l: 44px;
  --vkui--size_badge_l--regular: 44px;
  --vkui--size_badge_x_l: 56px;
  --vkui--size_badge_x_l--regular: 56px;
  --vkui--size_cardgrid_padding: 8px;
  --vkui--size_cardgrid_padding--regular: 8px;
  --vkui--size_card_border_radius: 8px;
  --vkui--size_card_border_radius--regular: 8px;
  --vkui--size_cardgrid_padding_vertical: 8px;
  --vkui--size_cardgrid_padding_vertical--regular: 8px;
  --vkui--size_base_padding_horizontal: 12px;
  --vkui--size_base_padding_horizontal--regular: 12px;
  --vkui--size_base_padding_vertical: 12px;
  --vkui--size_base_padding_vertical--regular: 12px;
  --vkui--size_button_group_gap_space: 1px;
  --vkui--size_button_group_gap_space--regular: 1px;
  --vkui--size_button_group_gap_small: 8px;
  --vkui--size_button_group_gap_small--regular: 8px;
  --vkui--size_button_group_gap_medium: 12px;
  --vkui--size_button_group_gap_medium--regular: 12px;
  --vkui--size_option_hierarchy: 32px;
  --vkui--size_option_hierarchy--regular: 32px;
  --vkui--size_switch_height--regular: 10px;
  --vkui--size_switch_height--compact: 10px;
  --vkui--size_switch_width--regular: 27px;
  --vkui--size_switch_width--compact: 27px;
  --vkui--size_switch_pin--regular: 16px;
  --vkui--size_switch_pin--compact: 16px;
  --vkui--size_panel_header_height--compact: 48px;
  --vkui--size_panel_header_height--regular: 48px;
  --vkui--size_button_base_small_padding_horizontal: 16px;
  --vkui--size_button_base_small_padding_horizontal--regular: 16px;
  --vkui--size_button_base_medium_padding_horizontal: 16px;
  --vkui--size_button_base_medium_padding_horizontal--regular: 16px;
  --vkui--size_button_base_large_padding_horizontal: 20px;
  --vkui--size_button_base_large_padding_horizontal--regular: 20px;
  --vkui--size_button_base_small_padding_horizontal_icon: 12px;
  --vkui--size_button_base_small_padding_horizontal_icon--regular: 12px;
  --vkui--size_button_base_medium_padding_horizontal_icon: 12px;
  --vkui--size_button_base_medium_padding_horizontal_icon--regular: 12px;
  --vkui--size_button_base_large_padding_horizontal_icon: 16px;
  --vkui--size_button_base_large_padding_horizontal_icon--regular: 16px;
  --vkui--size_button_tertiary_small_padding_horizontal: 12px;
  --vkui--size_button_tertiary_small_padding_horizontal--regular: 12px;
  --vkui--size_button_tertiary_medium_padding_horizontal: 12px;
  --vkui--size_button_tertiary_medium_padding_horizontal--regular: 12px;
  --vkui--size_button_tertiary_large_padding_horizontal: 16px;
  --vkui--size_button_tertiary_large_padding_horizontal--regular: 16px;
  --vkui--size_button_tertiary_small_padding_horizontal_icon: 8px;
  --vkui--size_button_tertiary_small_padding_horizontal_icon--regular: 8px;
  --vkui--size_button_tertiary_medium_padding_horizontal_icon: 8px;
  --vkui--size_button_tertiary_medium_padding_horizontal_icon--regular: 8px;
  --vkui--size_button_tertiary_large_padding_horizontal_icon: 12px;
  --vkui--size_button_tertiary_large_padding_horizontal_icon--regular: 12px;
  --vkui--size_button_minimum_width: 80px;
  --vkui--size_button_minimum_width--regular: 80px;
  --vkui--size_form_item_padding_vertical: 8px;
  --vkui--size_form_item_padding_vertical--regular: 8px;
  --vkui--size_split_col_padding_horizontal: 16px;
  --vkui--size_split_col_padding_horizontal--regular: 16px;
  --vkui--size_subnavigation_bar_gap: 8px;
  --vkui--size_subnavigation_bar_gap--regular: 8px;
  --vkui--size_subnavigation_bar_padding_vertical: 12px;
  --vkui--size_subnavigation_bar_padding_vertical--regular: 12px;
  --vkui--size_border1x: 1px;
  --vkui--size_border1x--regular: 1px;
  --vkui--size_border2x: 0.5px;
  --vkui--size_border2x--regular: 0.5px;
  --vkui--size_border3x: 0.33px;
  --vkui--size_border3x--regular: 0.33px;
  --vkui--spacing_size_3xs: 2px;
  --vkui--spacing_size_2xs: 2px;
  --vkui--spacing_size_xs: 4px;
  --vkui--spacing_size_s: 6px;
  --vkui--spacing_size_m: 8px;
  --vkui--spacing_size_l: 10px;
  --vkui--spacing_size_xl: 12px;
  --vkui--spacing_size_2xl: 16px;
  --vkui--spacing_size_3xl: 20px;
  --vkui--spacing_size_4xl: 24px;
  --vkui--animation_duration_l: 0.4s;
  --vkui--animation_duration_m: 0.2s;
  --vkui--animation_duration_s: 0.1s;
  --vkui--animation_easing_default: cubic-bezier(0.3, 0.3, 0.5, 1);
  --vkui--animation_easing_platform: cubic-bezier(0.4, 0, 0.2, 1);
  --vkui--opacity_disable: 0.4;
  --vkui--opacity_disable_accessibility: 0.64;
  --vkui--z_index_modal: 99;
  --vkui--z_index_popout: 100;
  --vkui--theme_inherits_from: vkBaseDark;
  --vkui--font_headline--font_size--regular: 16px;
  --vkui--font_headline--line_height--regular: 20px;
  --vkui--font_headline--font_family--regular: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif;
  --vkui--font_headline--font_weight--regular: 500;
  --vkui--font_headline--font_size--compact: 14px;
  --vkui--font_headline--line_height--compact: 18px;
  --vkui--colors_scheme: dark;
  --vkui--color_background_accent: #71AAEB;
  --vkui--color_background_accent--hover: #77ADEC;
  --vkui--color_background_accent--active: #7CB1ED;
  --vkui--color_background_accent_themed: #E1E3E6;
  --vkui--color_background_accent_themed--hover: #D8DBDF;
  --vkui--color_background_accent_themed--active: #CFD2D8;
  --vkui--color_background_accent_themed_alpha: rgba(255, 255, 255, 0.2);
  --vkui--color_background_accent_themed_alpha--hover: rgba(255, 255, 255, 0.24);
  --vkui--color_background_accent_themed_alpha--active: rgba(255, 255, 255, 0.28);
  --vkui--color_background_accent_tint: #5a9eff;
  --vkui--color_background_accent_tint--hover: #61A2FF;
  --vkui--color_background_accent_tint--active: #67A6FF;
  --vkui--color_background_accent_alternative: #2688EB;
  --vkui--color_background_accent_alternative--hover: #2F8DEC;
  --vkui--color_background_accent_alternative--active: #3792ED;
  --vkui--color_background: #141414;
  --vkui--color_background--hover: #1D1D1D;
  --vkui--color_background--active: #272727;
  --vkui--color_background_content: #222222;
  --vkui--color_background_content--hover: #2B2B2B;
  --vkui--color_background_content--active: #343434;
  --vkui--color_background_content_alpha: rgba(25, 25, 26, 0.8);
  --vkui--color_background_content_alpha--hover: rgba(25, 25, 26, 0.84);
  --vkui--color_background_content_alpha--active: rgba(25, 25, 26, 0.88);
  --vkui--color_background_content_inverse: #FFFFFF;
  --vkui--color_background_content_inverse--hover: #EBEDF0;
  --vkui--color_background_content_inverse--active: #D7D8DB;
  --vkui--color_background_secondary: #333333;
  --vkui--color_background_secondary--hover: #3B3B3B;
  --vkui--color_background_secondary--active: #434343;
  --vkui--color_background_secondary_alpha: rgba(255, 255, 255, 0.08);
  --vkui--color_background_secondary_alpha--hover: rgba(255, 255, 255, 0.12);
  --vkui--color_background_secondary_alpha--active: rgba(255, 255, 255, 0.16);
  --vkui--color_background_tertiary: #292929;
  --vkui--color_background_tertiary--hover: #323232;
  --vkui--color_background_tertiary--active: #3A3A3A;
  --vkui--color_background_tertiary_alpha: rgba(255, 255, 255, 0.03);
  --vkui--color_background_tertiary_alpha--hover: rgba(255, 255, 255, 0.07);
  --vkui--color_background_tertiary_alpha--active: rgba(255, 255, 255, 0.11);
  --vkui--color_background_contrast: #FFFFFF;
  --vkui--color_background_contrast--hover: #EBEDF0;
  --vkui--color_background_contrast--active: #D7D8DB;
  --vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.2);
  --vkui--color_background_contrast_secondary_alpha--hover: rgba(255, 255, 255, 0.24);
  --vkui--color_background_contrast_secondary_alpha--active: rgba(255, 255, 255, 0.28);
  --vkui--color_background_contrast_inverse: #333333;
  --vkui--color_background_contrast_inverse--hover: #3B3B3B;
  --vkui--color_background_contrast_inverse--active: #434343;
  --vkui--color_background_contrast_themed: #323232;
  --vkui--color_background_contrast_themed--hover: #3A3A3A;
  --vkui--color_background_contrast_themed--active: #424242;
  --vkui--color_background_modal: #292929;
  --vkui--color_background_modal--hover: #323232;
  --vkui--color_background_modal--active: #3A3A3A;
  --vkui--color_background_modal_inverse: #FFFFFF;
  --vkui--color_background_modal_inverse--hover: #EBEDF0;
  --vkui--color_background_modal_inverse--active: #D7D8DB;
  --vkui--color_background_positive: #4BB34B;
  --vkui--color_background_positive--hover: #52B652;
  --vkui--color_background_positive--active: #59B959;
  --vkui--color_background_positive_tint: #2F422F;
  --vkui--color_background_positive_tint--hover: #374A37;
  --vkui--color_background_positive_tint--active: #405140;
  --vkui--color_background_warning: #473315;
  --vkui--color_background_warning--hover: #4E3B1E;
  --vkui--color_background_warning--active: #564328;
  --vkui--color_background_negative: #FF5C5C;
  --vkui--color_background_negative--hover: #FF6363;
  --vkui--color_background_negative--active: #FF6969;
  --vkui--color_background_negative_tint: #522E2E;
  --vkui--color_background_negative_tint--hover: #593636;
  --vkui--color_background_negative_tint--active: #603F3F;
  --vkui--color_background_info_tint: #1C3954;
  --vkui--color_background_info_tint--hover: #25415B;
  --vkui--color_background_info_tint--active: #2E4962;
  --vkui--color_field_background: #292929;
  --vkui--color_field_background--hover: #323232;
  --vkui--color_field_background--active: #3A3A3A;
  --vkui--color_header_background: #222222;
  --vkui--color_header_background--hover: #2B2B2B;
  --vkui--color_header_background--active: #343434;
  --vkui--color_text_accent: #71AAEB;
  --vkui--color_text_accent--hover: #77ADEC;
  --vkui--color_text_accent--active: #7CB1ED;
  --vkui--color_text_accent_themed: #E1E3E6;
  --vkui--color_text_accent_themed--hover: #E2E4E7;
  --vkui--color_text_accent_themed--active: #E3E5E8;
  --vkui--color_text_primary: #E1E3E6;
  --vkui--color_text_primary--hover: #E2E4E7;
  --vkui--color_text_primary--active: #E3E5E8;
  --vkui--color_text_primary_alpha: rgba(249, 252, 255, 0.72);
  --vkui--color_text_primary_alpha--hover: rgba(249, 252, 255, 0.76);
  --vkui--color_text_primary_alpha--active: rgba(249, 252, 255, 0.8);
  --vkui--color_text_primary_invariably: #000000;
  --vkui--color_text_primary_invariably--hover: #0A0A0A;
  --vkui--color_text_primary_invariably--active: #141414;
  --vkui--color_text_secondary: #828282;
  --vkui--color_text_secondary--hover: #878787;
  --vkui--color_text_secondary--active: #8C8C8C;
  --vkui--color_text_secondary_alpha: rgba(247, 251, 255, 0.42);
  --vkui--color_text_secondary_alpha--hover: rgba(247, 251, 255, 0.46);
  --vkui--color_text_secondary_alpha--active: rgba(247, 251, 255, 0.5);
  --vkui--color_text_subhead: #939393;
  --vkui--color_text_subhead--hover: #979797;
  --vkui--color_text_subhead--active: #9C9C9C;
  --vkui--color_text_tertiary: #656565;
  --vkui--color_text_tertiary--hover: #6B6B6B;
  --vkui--color_text_tertiary--active: #717171;
  --vkui--color_text_contrast: #FFFFFF;
  --vkui--color_text_contrast--hover: #EBEDF0;
  --vkui--color_text_contrast--active: #D7D8DB;
  --vkui--color_text_contrast_themed: #222222;
  --vkui--color_text_contrast_themed--hover: #2B2B2B;
  --vkui--color_text_contrast_themed--active: #343434;
  --vkui--color_text_positive: #4BB34B;
  --vkui--color_text_positive--hover: #52B652;
  --vkui--color_text_positive--active: #59B959;
  --vkui--color_text_negative: #FF5C5C;
  --vkui--color_text_negative--hover: #FF6363;
  --vkui--color_text_negative--active: #FF6969;
  --vkui--color_text_link: #71AAEB;
  --vkui--color_text_link--hover: #77ADEC;
  --vkui--color_text_link--active: #7CB1ED;
  --vkui--color_text_link_themed: #939393;
  --vkui--color_text_link_themed--hover: #979797;
  --vkui--color_text_link_themed--active: #9C9C9C;
  --vkui--color_text_link_tint: #71aaeb;
  --vkui--color_text_link_tint--hover: #77ADEC;
  --vkui--color_text_link_tint--active: #7CB1ED;
  --vkui--color_text_link_visited: #4986cc;
  --vkui--color_text_link_visited--hover: #508BCE;
  --vkui--color_text_link_visited--active: #5890D0;
  --vkui--color_text_muted: #CCCCCC;
  --vkui--color_text_muted--hover: #CECECE;
  --vkui--color_text_muted--active: #D0D0D0;
  --vkui--color_link_contrast: #FFFFFF;
  --vkui--color_link_contrast--hover: #EBEDF0;
  --vkui--color_link_contrast--active: #D7D8DB;
  --vkui--color_icon_accent: #71AAEB;
  --vkui--color_icon_accent--hover: #77ADEC;
  --vkui--color_icon_accent--active: #7CB1ED;
  --vkui--color_icon_accent_themed: #E1E3E6;
  --vkui--color_icon_accent_themed--hover: #E2E4E7;
  --vkui--color_icon_accent_themed--active: #E3E5E8;
  --vkui--color_icon_primary: #e1e3e6;
  --vkui--color_icon_primary--hover: #E2E4E7;
  --vkui--color_icon_primary--active: #E3E5E8;
  --vkui--color_icon_primary_invariably: #2C2D2E;
  --vkui--color_icon_primary_invariably--hover: #343536;
  --vkui--color_icon_primary_invariably--active: #3D3E3F;
  --vkui--color_icon_medium: #939393;
  --vkui--color_icon_medium--hover: #979797;
  --vkui--color_icon_medium--active: #9C9C9C;
  --vkui--color_icon_medium_alpha: rgba(255, 255, 255, 0.48);
  --vkui--color_icon_medium_alpha--hover: rgba(255, 255, 255, 0.52);
  --vkui--color_icon_medium_alpha--active: rgba(255, 255, 255, 0.56);
  --vkui--color_icon_secondary: #828282;
  --vkui--color_icon_secondary--hover: #878787;
  --vkui--color_icon_secondary--active: #8C8C8C;
  --vkui--color_icon_secondary_alpha: rgba(255, 255, 255, 0.40);
  --vkui--color_icon_secondary_alpha--hover: rgba(255, 255, 255, 0.44);
  --vkui--color_icon_secondary_alpha--active: rgba(255, 255, 255, 0.48);
  --vkui--color_icon_tertiary: #656565;
  --vkui--color_icon_tertiary--hover: #6B6B6B;
  --vkui--color_icon_tertiary--active: #717171;
  --vkui--color_icon_tertiary_alpha: rgba(255, 255, 255, 0.24);
  --vkui--color_icon_tertiary_alpha--hover: rgba(255, 255, 255, 0.28);
  --vkui--color_icon_tertiary_alpha--active: rgba(255, 255, 255, 0.32);
  --vkui--color_icon_contrast: #E1E3E6;
  --vkui--color_icon_contrast--hover: #E2E4E7;
  --vkui--color_icon_contrast--active: #E3E5E8;
  --vkui--color_icon_contrast_themed: #222222;
  --vkui--color_icon_contrast_themed--hover: #2B2B2B;
  --vkui--color_icon_contrast_themed--active: #343434;
  --vkui--color_icon_contrast_secondary: #f2f3f5;
  --vkui--color_icon_contrast_secondary--hover: #F3F3F5;
  --vkui--color_icon_contrast_secondary--active: #F3F4F6;
  --vkui--color_icon_positive: #4BB34B;
  --vkui--color_icon_positive--hover: #52B652;
  --vkui--color_icon_positive--active: #59B959;
  --vkui--color_icon_warning: #EDB055;
  --vkui--color_icon_warning--hover: #EEB35C;
  --vkui--color_icon_warning--active: #EEB663;
  --vkui--color_icon_negative: #FF5C5C;
  --vkui--color_icon_negative--hover: #FF6363;
  --vkui--color_icon_negative--active: #FF6969;
  --vkui--color_stroke_accent: #71AAEB;
  --vkui--color_stroke_accent--hover: #77ADEC;
  --vkui--color_stroke_accent--active: #7CB1ED;
  --vkui--color_stroke_accent_themed: #E1E3E6;
  --vkui--color_stroke_accent_themed--hover: #E2E4E7;
  --vkui--color_stroke_accent_themed--active: #E3E5E8;
  --vkui--color_separator_primary: #363738;
  --vkui--color_separator_primary--hover: #3E3F40;
  --vkui--color_separator_primary--active: #464748;
  --vkui--color_separator_primary2x: #444546;
  --vkui--color_separator_primary2x--hover: #4B4C4D;
  --vkui--color_separator_primary2x--active: #535455;
  --vkui--color_separator_primary3x: #505253;
  --vkui--color_separator_primary3x--hover: #57595A;
  --vkui--color_separator_primary3x--active: #5E6061;
  --vkui--color_separator_primary_alpha: rgba(255, 255, 255, 0.12);
  --vkui--color_separator_primary_alpha--hover: rgba(255, 255, 255, 0.16);
  --vkui--color_separator_primary_alpha--active: rgba(255, 255, 255, 0.2);
  --vkui--color_separator_secondary: #292929;
  --vkui--color_separator_secondary--hover: #323232;
  --vkui--color_separator_secondary--active: #3A3A3A;
  --vkui--color_stroke_positive: #4BB34B;
  --vkui--color_stroke_positive--hover: #52B652;
  --vkui--color_stroke_positive--active: #59B959;
  --vkui--color_stroke_negative: #FF5C5C;
  --vkui--color_stroke_negative--hover: #FF6363;
  --vkui--color_stroke_negative--active: #FF6969;
  --vkui--color_stroke_contrast: #FFFFFF;
  --vkui--color_stroke_contrast--hover: #EBEDF0;
  --vkui--color_stroke_contrast--active: #D7D8DB;
  --vkui--color_stroke_primary: #E1E3E6;
  --vkui--color_stroke_primary--hover: #E2E4E7;
  --vkui--color_stroke_primary--active: #E3E5E8;
  --vkui--color_image_border_alpha: rgba(255, 255, 255, 0.08);
  --vkui--color_image_border_alpha--hover: rgba(255, 255, 255, 0.12);
  --vkui--color_image_border_alpha--active: rgba(255, 255, 255, 0.16);
  --vkui--color_field_border_alpha: rgba(255, 255, 255, 0.12);
  --vkui--color_field_border_alpha--hover: rgba(255, 255, 255, 0.16);
  --vkui--color_field_border_alpha--active: rgba(255, 255, 255, 0.2);
  --vkui--color_accent_blue: #397DCC;
  --vkui--color_accent_blue--hover: #4182CE;
  --vkui--color_accent_blue--active: #4987D0;
  --vkui--color_accent_gray: #AEB7C2;
  --vkui--color_accent_gray--hover: #B1BAC4;
  --vkui--color_accent_gray--active: #B4BDC7;
  --vkui--color_accent_red: #FF3347;
  --vkui--color_accent_red--hover: #FF3B4E;
  --vkui--color_accent_red--active: #FF4356;
  --vkui--color_accent_orange_fire: #f05c44;
  --vkui--color_accent_orange_fire--hover: #F1634B;
  --vkui--color_accent_orange_fire--active: #F16953;
  --vkui--color_accent_orange: #FFA000;
  --vkui--color_accent_orange--hover: #FFA40A;
  --vkui--color_accent_orange--active: #FFA814;
  --vkui--color_accent_orange_peach: #FFC062;
  --vkui--color_accent_orange_peach--hover: #FFC368;
  --vkui--color_accent_orange_peach--active: #FFC56F;
  --vkui--color_accent_lime: #CAF96C;
  --vkui--color_accent_lime--hover: #CCF972;
  --vkui--color_accent_lime--active: #CEF978;
  --vkui--color_accent_green: #4BB34B;
  --vkui--color_accent_green--hover: #52B652;
  --vkui--color_accent_green--active: #59B959;
  --vkui--color_accent_cyan: #55F1D2;
  --vkui--color_accent_cyan--hover: #5CF2D4;
  --vkui--color_accent_cyan--active: #63F2D6;
  --vkui--color_accent_azure: #5D9EE9;
  --vkui--color_accent_azure--hover: #63A2EA;
  --vkui--color_accent_azure--active: #6AA6EB;
  --vkui--color_accent_purple: #937FF5;
  --vkui--color_accent_purple--hover: #9784F5;
  --vkui--color_accent_purple--active: #9C89F6;
  --vkui--color_accent_violet: #A94FFF;
  --vkui--color_accent_violet--hover: #AC56FF;
  --vkui--color_accent_violet--active: #B05DFF;
  --vkui--color_accent_raspberry_pink: #f060c0;
  --vkui--color_accent_raspberry_pink--hover: #F166C3;
  --vkui--color_accent_raspberry_pink--active: #F16DC5;
  --vkui--color_accent_pink: #F899FF;
  --vkui--color_accent_pink--hover: #F89DFF;
  --vkui--color_accent_pink--active: #F9A1FF;
  --vkui--color_accent_secondary: #3f8ae0;
  --vkui--color_accent_secondary--hover: #478FE1;
  --vkui--color_accent_secondary--active: #4E93E2;
  --vkui--color_overlay_primary: rgba(0, 0, 0, 0.40);
  --vkui--color_overlay_primary--hover: rgba(0, 0, 0, 0.44);
  --vkui--color_overlay_primary--active: rgba(0, 0, 0, 0.48);
  --vkui--color_overlay_secondary: rgba(55, 56, 57, 0.5);
  --vkui--color_overlay_secondary--hover: rgba(55, 56, 57, 0.54);
  --vkui--color_overlay_secondary--active: rgba(55, 56, 57, 0.58);
  --vkui--color_avatar_overlay: rgba(0, 0, 0, 0.60);
  --vkui--color_avatar_overlay--hover: rgba(0, 0, 0, 0.64);
  --vkui--color_avatar_overlay--active: rgba(0, 0, 0, 0.68);
  --vkui--color_avatar_overlay_inverse_alpha: rgba(255, 255, 255, 0.85);
  --vkui--color_avatar_overlay_inverse_alpha--hover: rgba(255, 255, 255, 0.89);
  --vkui--color_avatar_overlay_inverse_alpha--active: rgba(255, 255, 255, 0.93);
  --vkui--color_action_sheet_text: #71aaeb;
  --vkui--color_action_sheet_text--hover: #77ADEC;
  --vkui--color_action_sheet_text--active: #7CB1ED;
  --vkui--color_image_placeholder: #2a2b2c;
  --vkui--color_image_placeholder--hover: #333334;
  --vkui--color_image_placeholder--active: #3B3C3D;
  --vkui--color_image_placeholder_alpha: rgba(241, 247, 255, 0.08);
  --vkui--color_image_placeholder_alpha--hover: rgba(241, 247, 255, 0.12);
  --vkui--color_image_placeholder_alpha--active: rgba(241, 247, 255, 0.16);
  --vkui--color_skeleton_from: #292929;
  --vkui--color_skeleton_from--hover: #323232;
  --vkui--color_skeleton_from--active: #3A3A3A;
  --vkui--color_skeleton_to: #333333;
  --vkui--color_skeleton_to--hover: #3B3B3B;
  --vkui--color_skeleton_to--active: #434343;
  --vkui--color_button_text: #E1E3E6;
  --vkui--color_button_text--hover: #E2E4E7;
  --vkui--color_button_text--active: #E3E5E8;
  --vkui--color_button_icon: #E1E3E6;
  --vkui--color_button_icon--hover: #E2E4E7;
  --vkui--color_button_icon--active: #E3E5E8;
  --vkui--color_button_stroke: #E1E3E6;
  --vkui--color_button_stroke--hover: #E2E4E7;
  --vkui--color_button_stroke--active: #E3E5E8;
  --vkui--color_write_bar_icon: #E1E3E6;
  --vkui--color_write_bar_icon--hover: #E2E4E7;
  --vkui--color_write_bar_icon--active: #E3E5E8;
  --vkui--color_write_bar_input_background: #424242;
  --vkui--color_write_bar_input_background--hover: #4A4A4A;
  --vkui--color_write_bar_input_background--active: #515151;
  --vkui--color_write_bar_input_border: #555555;
  --vkui--color_write_bar_input_border--hover: #5C5C5C;
  --vkui--color_write_bar_input_border--active: #636363;
  --vkui--color_write_bar_input_border_alpha: rgba(255, 255, 255, 0.8);
  --vkui--color_write_bar_input_border_alpha--hover: rgba(255, 255, 255, 0.84);
  --vkui--color_write_bar_input_border_alpha--active: rgba(255, 255, 255, 0.88);
  --vkui--color_track_background: #828282;
  --vkui--color_track_background--hover: #878787;
  --vkui--color_track_background--active: #8C8C8C;
  --vkui--color_track_buffer: #FFFFFF;
  --vkui--color_track_buffer--hover: #EBEDF0;
  --vkui--color_track_buffer--active: #D7D8DB;
  --vkui--color_search_field_background: #424242;
  --vkui--color_search_field_background--hover: #4A4A4A;
  --vkui--color_search_field_background--active: #515151;
  --vkui--color_panel_header_icon: #71AAEB;
  --vkui--color_panel_header_icon--hover: #77ADEC;
  --vkui--color_panel_header_icon--active: #7CB1ED;
  --vkui--color_segmented_control: #626364;
  --vkui--color_segmented_control--hover: #68696A;
  --vkui--color_segmented_control--active: #6F6F70;
  --vkui--color_tabbar_text_inactive: #76787a;
  --vkui--color_tabbar_text_inactive--hover: #7B7D7F;
  --vkui--color_tabbar_text_inactive--active: #818385;
  --vkui--color_transparent: transparent;
  --vkui--color_transparent--hover: rgba(255, 255, 255, 0.04);
  --vkui--color_transparent--active: rgba(255, 255, 255, 0.08);
}
