.Input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--field_background);
  border: 1px solid var(--field_border);
  border-radius: 8px;
  transition: border-color var(--fastTransition);
}

.Input--inLayer {
  background: var(--field_background_layer);
}

.Input:hover {
  border-color: var(--field_border_hover);
}

.Input:focus-within {
  border-color: var(--accent);
}

.Input__el {
  background: none;
  border: none;
  width: 100%;
  color: var(--text_primary);
  font: var(--font);
  line-height: 22px;
  padding: 7px 10px;
}

.Input__el:disabled {
  opacity: 0.64;
}

.Input__el::placeholder {
  color: var(--field_text_placeholder);
}

.Input__el:disabled::placeholder {
  color: var(--text_secondary);
}

.Input--hasBefore .Input__el {
  padding-left: 0;
}

.Input--hasAfter .Input__el {
  padding-right: 0;
}

.Input__before,
.Input__after {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 36px;
  height: 100%;
  color: var(--icon_secondary);
}
