*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto VK;
  font-weight: 400;
  font-display: block;
  src: url('assets/Roboto-VK-400.woff2');
}

@font-face {
  font-family: Roboto VK;
  font-weight: 500;
  font-display: block;
  src: url('assets/Roboto-VK-500.woff2');
}

body {
  margin: 0;
  height: 100vh;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

:focus {
  outline: none;
}

/*
::-webkit-scrollbar {
display: none;
}
*/

:root {
  --fontFamily: 'BlinkMacSystemFont', 'Roboto VK';
  --fontSize: 15px;
  --font: var(--fontSize) var(--fontFamily);

  --fastTransition: 0.15s;
}

[data-scheme="vkcom_dark"], [data-scheme="space_gray"] {
  --white: #fff;
  --field_border_hover: rgba(255, 255, 255, 0.2);
}

[data-scheme="vkcom_light"], [data-scheme="bright_light"] {
  --white: #fff;
  --field_border_hover: rgba(0, 0, 0, 0.2);
}
