*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto VK;
  font-weight: 400;
  font-display: block;
  src: url('assets/Roboto-VK-400.woff2');
}

@font-face {
  font-family: Roboto VK;
  font-weight: 500;
  font-display: block;
  src: url('assets/Roboto-VK-500.woff2');
}

html, body {
  height: 100%;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

:where(button) {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

:focus {
  outline: none;
}

:root {
  --fontFamily: 'BlinkMacSystemFont', 'Roboto VK';
  --fontSize: 15px;
  --smallFontSize: 13px;
  --lineHeight: 18px;
  --font: var(--fontSize) / var(--lineHeight) var(--fontFamily);
  --smallFont: var(--smallFontSize) / var(--lineHeight) var(--fontFamily);

  --fastTransition: 0.15s;
  --mediumTransition: 0.2s;
  --slowTransition: 0.3s;

  --zIndexModals: 1;
}

[data-scheme] {
  --vkui--color_field_background_in_layer: var(--vkui--color_field_background);
}

[data-scheme="vkcom-dark"] {
  --vkui--color_field_background_in_layer: var(--vkui--color_background_content);
}
