.Link {
  position: relative;
  color: var(--text_link);
  text-decoration: none;
  /* Для FocusVisible */
  border-radius: 4px;
  /* Когда компонент используется без href, этот стиль по умолчанию не проставляется */
  cursor: pointer;
}

.Link:hover {
  text-decoration: underline;
}
