.root[theme="dark"] {
	--background-content: #19191a;
	--background-highlighted: rgba(255, 255, 255, 0.08);
	--header-background: #2c2d2e;
	--header-text: #e1e3e6;
	--header-icon: #ffffff;
	--header-footer: #19191a;
	--button-primary-background: #e1e3e6;
	--button-primary-background-hover: #F1F3F6;
	--button-primary-foreground: #19191a;
	--button-light-background: #454647;
	--button-light-background-hover: #4F5051;
	--button-light-foreground: #e1e3e6;
	--counter-primary-background: #ffffff;
  --counter-primary-text: #19191a;
  --counter-secondary-background: #76787a;
  --counter-secondary-text: #19191a;
	--im-bubble-incoming: #2c2d2e;
	--im-bubble-incoming-highlighted: #5d5f61;
	--im-bubble-outcoming: #454647;
	--im-bubble-outgoing-highlighted: #76787a;
	--im-bubble-gift-background: #9e8d6b;
	--im-bubble-gift-text: #fffbf2;
	--im-bubble-gift-time: #f4e4be;
	--im-text-name: #71aaeb;
	--im-peer-text-attachment: #e1e3e6;
	--im-peer-ripple: #282829;
	--im-header-online: rgba(255, 255, 255, .75);
	--im-typing-text: #e1e3e6;
	--im-typing-chat-text: rgba(255, 255, 255, .75);
	--im-attachs-doc-icon: #71aaeb;
	--im-attachs-doc-dot: #76787a;
	--im-attachs-doc-link: #71aaeb;
	--im-attachs-doc-size: #76787a;
	--im-input-background: #2c2d2e;
	--im-input-el-background: #19191a;
	--im-input-text: #e1e3e6;
	--im-scroll-background: rgba(255, 255, 255, 0.08);
	--im-scroll-hover: rgba(255, 255, 255, 0.1);
	--actions-background: #2c2d2e;
	--actions-background-hover: rgba(255, 255, 255, 0.08);
	--actions-border: #373839;
	--input-border: #2c2d2e;
	--input-border-active: #76787a;
	--input-placeholder: #76787a;
	--text-primary: #e1e3e6;
	--text-secondary: #76787a;
	--text-author: #76787a;
	--text-message: #909499;
	--text-link: #71aaeb;
	--blue: #3f8ae0;
	--green: #4bb34b;
	--red: #ff3347;
}

.root[theme="dark"] .act_menu { border: 1px solid var(--actions-border); }
