.root {
	--background-content: #ffffff;
	--background-highlighted: rgba(0, 0, 0, .08);
	--header-background: #5181b8;
	--header-text: #ffffff;
	--header-icon: #ffffff;
	--header-footer: #f7f8fa;
	--button-primary-background: #5181b8;
	--button-primary-background-hover: #5C8CC3;
	--button-primary-foreground: #ffffff;
	--button-light-background: rgba(0, 57, 115, .1);
	--button-light-background-hover: rgba(0, 57, 115, .15);
	--button-light-foreground: #45678f;
	--counter-primary-background: #528bcc;
  --counter-primary-text: #ffffff;
  --counter-secondary-background: #aaaeb3;
  --counter-secondary-text: #ffffff;
	--im-bubble-incoming: #ebedf0;
	--im-bubble-incoming-highlighted: #d7d8d9;
	--im-bubble-outcoming: #cce4ff;
	--im-bubble-outgoing-highlighted: #add3ff;
	--im-bubble-gift-background: #f4e4be;
	--im-bubble-gift-text: #7a6c4f;
	--im-bubble-gift-time: #9e8d6b;
	--im-text-name: #254f79;
	--im-peer-text-attachment: #5181b8;
	--im-peer-ripple: #e1e1e1;
	--im-header-online: rgba(255, 255, 255, .75);
	--im-typing-text: #254f79;
	--im-typing-chat-text: rgba(255, 255, 255, .75);
	--im-attachs-doc-icon: #5281B9;
	--im-attachs-doc-dot: #222222;
	--im-attachs-doc-link: #1a5fb1;
	--im-attachs-doc-size: #37495f;
	--im-input-background: #fbfbfb;
	--im-input-el-background: #ffffff;
	--im-input-text: #222222;
	--im-scroll-background: #ffffff;
	--im-scroll-hover: #f6f8fb;
	--im-kb-text: #ffffff;
	--im-kb-primary-text: #ffffff;
	--im-kb-secondary-text: #45586f;
	--im-kb-primary-background: #5181b8;
	--im-kb-secondary-background: #0039731a;
	--im-kb-positive-background: #4bb34b;
	--im-kb-negative-background: #e64646;
	--actions-background: #ffffff;
	--actions-background-hover: #ebedf0;
	--actions-border: #e1e3e6; /* не используется в этой теме */
	--menu-icon-active: #648fc1;
	--menu-icon: #a6a6a6;
	--menu-account-name: #ffffff;
	--menu-account-status: #d9d9d9;
	--menu-item-color: #808080;
	--menu-item-active-background: #EFF4F9;
	--menu-item-active-text: #3e70a9;
	--menu-item-hover: #EFF4F9;
	--menu-counter-text: #475769;
	--menu-counter-background: #d2dfea;
	--menu-logout: #de3f3f;
	--input-border: #e1e3e6;
	--input-border-active: #2975cc;
	--input-placeholder: #3c3c3c;
	--text-primary: #000000;
	--text-secondary: #909499;
	--text-author: #777a7d;
	--text-message: #4c4d50;
	--text-link: #4986cc;
	--blue: #3f8ae0;
	--green: #4bb34b;
	--red: #ff3347;
}

.root[theme="light"] .im_peer:not(:last-child) .im_peer_content { border-bottom: 1px solid var(--input-border); }
