name: Build VK Desktop

on:
  release:
    types: [published]

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            glob: app/VK-Desktop-linux-*.zip
          - os: windows-latest
            glob: app/VK-Desktop-Setup-*.exe
          - os: macos-latest
            glob: app/VK-Desktop-mac.dmg

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: 12.16.3
    - name: Install dependencies
      run: yarn
    - name: Build Electron app
      run: yarn build
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Create installer
      if: startsWith(matrix.os, 'windows')
      run: yarn win-setup
    - name: Upload binaries to release
      shell: bash
      run: gh release upload ${{ github.event.release.tag_name }} ${{ matrix.glob }}
      env:
        GITHUB_TOKEN: ${{ github.token }}
